.banner{
    position: relative;
    z-index: 1;
}
.bannerPoster{
    padding-top: 0;
    aspect-ratio: 15/5;
    border-radius: 20px;
}
.bannerPoster:not(.bannerSkeleton)::before{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(31, 88, 203, 0.4);
    z-index: 1;
}
.bannerText{
    position: absolute;
    top: 50%;
    inset-inline: 0;
    transform: translateY(-50%);
    z-index: 2;
    color: var(--white-color);
    text-align: center;
}
.bannerText_in{
    max-width: 600px;
    margin: 0 auto;
}
.bannerTitle{
    font-size: 48px;
    color: inherit;
}
.bannerTitle > *{
    display: block;
}
@media only screen and (max-width: 1600px){
    .bannerTitle{
        font-size: 42px;
    }
}
@media only screen and (max-width: 1399px){
    .bannerPoster{
        border-radius: 16px;
    }
}
@media only screen and (max-width: 1199px){
    .bannerTitle{
        font-size: 36px;
    }
}
@media only screen and (max-width: 991px){
    .tabFull{
        max-width: 100% !important;
        padding: 0 !important;
    }
    .bannerText{
        padding-inline: 15px;
    }
    .bannerPoster{
        border-radius: 0px;
    }
    .bannerTitle{
        font-size: 32px;
    }
}
@media only screen and (max-width: 767px){
    .bannerPoster{
        aspect-ratio: 2/1;
    }
    .bannerPoster img{
        object-fit: cover;
        object-position: top;
    }
}
@media only screen and (max-width: 575px){
    .bannerTitle{
        font-size: 28px;
    }
}
@media only screen and (max-width: 479px){
    .bannerTitle{
        font-size: 24px;
    }
}
@media only screen and (max-width: 359px){
    .bannerTitle{
        font-size: 22px;
    }
}