.sectionArea{
    background: var(--secondary-background);
    padding-block: 70px;
}
.cardWrapper{
    background: url(../../../public/assets/images/quote-bg.png) no-repeat bottom right / contain;
    background-size: 120px;
    position: relative;
    z-index: 1;
    margin-top: 70px;
}
.cardWrapper hr{
    position: absolute;
    inset: 0px;
    height: 100%;
    width: 1px;
    margin: auto;
    background: rgba(0, 0, 0, 0.1);
    opacity: 1;
}
.cardLogo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    z-index: 1;
    padding-right: 1.5rem;
}
.cardLogo::after{
    content: '';
    position: absolute;
    bottom: 0;
    inset-inline: 0;
    background: var(--secondary-background);
    height: 1px;
    z-index: 1;
}
.item{
    display: grid;
    place-items: center;
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-width: 0px 1px 1px 0px;
    background: var(--secondary-background);
    padding: 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: all 300ms ease-in-out;
}
/* .item::after{
    content: '';
    inset: 0px;
    position: absolute;
    border-radius: 8px;
    z-index: -1;
	background: var(--white-color);
    opacity: 0;
    transition: all 100ms ease-in-out;
} */
.item:nth-child(3n + 3){
    border-right-width: 0px;
}
.item:hover:after,
.active.item::after{
    opacity: 1;
}
.item:hover{
	background: var(--primary-background);
}
.active.item{
	background: var(--primary-color);
}
.box{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 110px;
    margin: 0 auto;
    transition: all 100ms ease-in-out;
}
.active .box{
    background: var(--white-color);
    border-radius: 4px;
}
.box img{
    object-fit: contain;
    mix-blend-mode: multiply;
}
.card{
    height: 100%;
    color: #707070;
    font-size: 1.1em;
    line-height: 1.8;
    padding-left: 1.5rem;
}
.card .content{
    height: 7lh;
    overflow: hidden;
    position: relative;
}
.videoPoster{
    height: 318px;
    min-height: 100%;
    cursor: pointer;
    max-width: 600px;
    position: relative;
}
.videoIcon{
    --size: 48px;
    width: var(--size);
    height: var(--size);
    background: #ff0000;
    color: var(--white-color);
    display: grid;
    place-items: center;
    border-radius: 100%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    padding-left: 2px;
}
.card p{
    line-height: inherit;
}
.title{
    color: var(--secondary-color);
    font-size: 26px;
    font-weight: 600;
    margin-block: 28px 4px;
    }
.title::first-letter{
    text-transform: capitalize;
}
.designation{
    font-size: 18px;
    font-weight: 500;
}
.designation span{
    font-size: 0.85em;
    color: var(--secondary-color);
}
@media only screen and (max-width: 1600px) {
    .videoPoster{
        height: 312px;
    }
    .title{
        font-size: 24px;
    }
    .box{
        height: 100px;
    }
    .designation{
        font-size: 16px;
    }
}
@media only screen and (max-width: 1399px) {
    .videoPoster{
        height: 292px;
    }
    .title{
        font-size: 20px;
    }
    .box{
        height: 84px;
    }
    .designation{
        font-size: 15px;
    }
}