.sectionArea{
    background: var(--secondary-background);
    padding-block: 70px;
    margin-bottom: 0;
}
.cardWrapper{
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 70px;
    --space: 1.5rem;
}
.cardWrapper hr{
    position: absolute;
    inset: 0px;
    height: 100%;
    width: 1px;
    margin: auto;
    background: rgba(0, 0, 0, 0.1);
    opacity: 1;
}
.cardLogo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    z-index: 1;
    padding-right: var(--space);
}
.cardLogo::after{
    content: '';
    position: absolute;
    bottom: 0;
    inset-inline: 0;
    background: var(--secondary-background);
    height: 1px;
    z-index: 1;
}
.item{
    display: grid;
    place-items: center;
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-width: 0px 1px 1px 0px;
    background: var(--secondary-background);
    padding: 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: all 300ms ease-in-out;
}
/* .item::after{
    content: '';
    inset: 0px;
    position: absolute;
    border-radius: 8px;
    z-index: -1;
	background: var(--white-color);
    opacity: 0;
    transition: all 100ms ease-in-out;
} */
@media only screen and (min-width: 992px){
    .item:nth-child(3n + 3){
        border-right-width: 0px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .item:nth-child(even){
        border-right-width: 0px;
    }
    .cardLogo{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
    .item:nth-child(3n + 3){
        border-right-width: 0px;
    }
}
.item:hover:after,
.active.item::after{
    opacity: 1;
}
.item:hover{
	background: var(--primary-background);
}
.active.item{
	background: var(--primary-color);
}
.box{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 110px;
    margin: 0 auto;
    transition: all 100ms ease-in-out;
}
.active .box{
    background: var(--white-color);
    border-radius: 4px;
}
.box img{
    object-fit: contain;
    mix-blend-mode: multiply;
}
.card{
    height: 100%;
    color: #707070;
    font-size: 1.1em;
    line-height: 1.8;
    padding-left: var(--space);
}
.card .content{
    height: 7lh;
    overflow: hidden;
    position: relative;
}
.videoPoster{
    aspect-ratio: 16/8.5;
    min-height: 100%;
    cursor: pointer;
    max-width: 600px;
    position: relative;
    overflow: hidden;
}
.videoIcon{
    --size: 48px;
    width: var(--size);
    height: var(--size);
    background: #ff0000;
    color: var(--white-color);
    display: grid;
    place-items: center;
    border-radius: 100%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    padding-left: 2px;
}
.card p{
    line-height: inherit;
}
.title{
    color: var(--secondary-color);
    font-size: 26px;
    font-weight: 600;
    margin-block: 28px 4px;
    }
.title::first-letter{
    text-transform: capitalize;
}
.designation{
    font-size: 18px;
    font-weight: 500;
}
.designation span{
    font-size: 0.85em;
    color: var(--secondary-color);
}
@media only screen and (max-width: 1600px) {
    .sectionArea{
        padding-block: 60px;
    }
    .cardWrapper{
        margin-top: 48px;
    }
    .title{
        font-size: 24px;
    }
    .box{
        height: 100px;
    }
    .designation{
        font-size: 16px;
    }
}
@media only screen and (max-width: 1399px) {
    .cardWrapper{
        margin-top: 48px;
        --space: .5rem;
    }
    .title{
        font-size: 20px;
    }
    .box{
        height: 84px;
    }
    .designation{
        font-size: 15px;
    }
}
@media only screen and (max-width: 1199px){
    .sectionArea{
        padding-block: 48px;
    }
    .card{
        font-size: 15px;
    }
    .title{
        margin-block: 16px 0px;
    }
    .videoPoster{
        aspect-ratio: 16/9.2;
        max-width: 100%;
    }
}
@media only screen and (max-width: 991px){
    .cardWrapper{
        margin-top: 36px;
        --space: 0px;
    }
    .cardWrapper hr{
        left: 41%;
        right: inherit;
    }
    .box{
        height: 65px;
    }
    .viewBtn{
        max-width: max-content;
        margin: auto;
    }
}
@media only screen and (max-width: 767px){
    .sectionArea{
        padding-block: 36px;
    }
    .cardWrapper hr{
        display: none;
    }
    .box{
        height: 84px;
    }
}
@media only screen and (max-width: 479px){
    .cardLogo{
        grid-template-columns: repeat(2, 1fr);
    }
    .box{
        height: auto;
        aspect-ratio: 16/9;
    }
    .item:nth-child(even){
        border-right-width: 0px;
    }
}