.bannerSection {
    position: relative;
    z-index: 1;
}
.bannerPoster{
    padding-top: 0;
    height: 480px;
}
.bannerText{
    position: absolute;
    inset: 0;
    display: grid;
    align-content: center;
    z-index: 1;
}
.pageTitle {
    font: 600 42px / 1.1 var(--primary-font);
    color: var(--primary-title-color);
}
.portfoiloList{
    margin-top: 48px;
}
.portfolioBox{
    text-align: center;
    gap: 30px;
    display: grid;
    /* padding-top: 20px; */
    position: relative;
    z-index: 1;
}
.posterTitle{
    padding: 20px;
    color: var(--text-color);
    font: 600 24px / 1.25 var(--primary-font);
    letter-spacing: 0.5px;
    position: absolute;
    top: 0;
    inset-inline: 0;
    z-index: 1;
}
.portfolioPoster {
    position: relative;
    padding-top: 111%;
    margin-top: auto;
}
.logoBox, .shirtBox{
    position: relative;
    display: grid;
    padding-top: 75%;
    border: 1px solid var(--primary-background);
    overflow: hidden;
}
.shirtBox{
    padding-top: 88%;
    border-radius: 4px;
}
.logoBox img{
    transition: all 1s ease-in-out ;
}
.logoBox:hover img{
    transform: scale(1.1);
}
/* Case Study */
.smallList .rowList{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 20px; 
    padding: 0;
    gap: 10px;
}
.card{
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    gap: var(--gap);
    color: #707070;
    font-size: 16px;
}
.card aside{
    padding-left: 20px;
}
.card p{
    height: 3lh;
    overflow: hidden;
}
.boxTitle{
    color: var(--black-color);
    margin: 0 0 12px 0;
    font-size: 24px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px 12px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.card ul:has(li:only-child){
    grid-template-columns: inherit;
}
.card li{
    position: relative;
    margin-bottom: 0;
    padding-right: 6px;
}
.card li:after{
    content: "";
    position: absolute;
    right: -2px;
    inset-block: 0;
    border-right: 1px solid #D9D9D9;
}
.card ul li:last-child:after{
    display: none;
}
.card li span{
    font-size: 0.9em;
    display: block;
}
.card li em{
    color: var(--black-color);
    display: block;
}
.cardPoster{
    position: relative;
    padding-top: 88%;
    border-radius: 10px;
    overflow: hidden;
}
.listTarget{
    margin: 15px 0 0 0;
}
.listTarget a{
    color:var(--black-color);
    font-weight: 600;
    gap: 5px;
    display: flex;
    align-items: start;
}
.listTarget a svg{
    margin-top: 5px;
}
.btn_center{
    margin-top: 60px;
}
.btn_center .viewBtn{
    --size: 72px;
    --padding: 60px;
    font-size: calc(var(--size) / 3.5);
}
.viewBtn em{
    margin-left: 8px;
}
@media only screen and (max-width: 1600px) {
    .card{
        font-size: 13px;
    }
    .boxTitle{
        font-size: 22px;
        margin-bottom: 6px;
    }
}

@media only screen and (max-width: 1399px) {
    .card{
        font-size: 12px;
    }
    .boxTitle{
        font-size: 20px;
        margin-bottom: 4px;
    }
}