.bannerSection {
    background: url(../casestudy/images/case-study.jpg) center top no-repeat;
    padding: 70px 0px;
    text-align: center;
    background-size: cover;
}
.pageTitle {
    font: 600 42px / 1.1 var(--primary-font);
    color: var(--primary-title-color);
}
.smallList .rowList{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 20px; 
    padding: 0;
    gap: 10px;
}
.smallList .rowList > *{
    align-items: center;
}
.smallList .rowList aside{
    padding: 0 25px 0 0;
}
.smallList h2{
    margin: 0 0 15px 0;
    font-size: 27px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.smallList ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px 12px;
}
.smallList ul:has(li:only-child){
    grid-template-columns: inherit;
}
.smallList ul li{
    color: var(--black-color);
    position: relative;
    margin-bottom: 0;
    padding-right: 6px;
}
.smallList ul li span{
    font-size: 14px;
    color: #707070;
}
.smallList ul li:after{
    content: "";
    position: absolute;
    right: -2px;
    inset-block: 0;
    border-right: 1px solid #D9D9D9;
}
.smallList ul li:last-child:after{
    display: none;
}
.smallList figure{
    background-color: #CEE5FF;
    padding: 18px;
    border-radius: 20px;
    display: inline-block;
    position: relative;
}
.smallList figure img{
    border-radius: 15px;
    height: 320px;
}
.listTarget{
    margin: 15px 0 0 0;
}
.listTarget a{
    color:var(--black-color);
    font-weight: 600;
    gap: 5px;
    display: flex;
    align-items: center;
}
.portfoiloList{
    margin-top: 48px;
}
/* @media only screen and (min-width: 1441px) {
    .columnBox{width: 20%;}
} */
.portfolioBox{
    text-align: center;
    gap: 30px;
    display: grid;
    padding-top: 20px;
}
.posterTitle{
    padding: 20px;
    color: var(--white-color);
    font: 600 24px / 1.25 var(--primary-font);
}
.portfolioPoster {
    position: relative;
    padding-top: 75%;
    margin-top: auto;
}
/* .portfolioPoster img {
	object-fit: contain;
} */

.logoBox{
    position: relative;
    display: grid;
    padding-top: 75%;
    border: 1px solid var(--primary-background);
    overflow: hidden;
}
.logoBox img{
    transition: all 1s ease-in-out ;
}
.logoBox:hover img{
    transform: scale(1.1);
}