.counterBox{
    display: grid;
    place-items: center;
    min-height: 100%;
    background: var(--white-color);
    font-size: 1.1em;
    font-weight: 500;
    color: rgba(44, 44, 44, 1);
    padding: 32px 16px;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 8px;
}
.counterTitle{
    font-size: 36px;
    line-height: normal;
    font-weight: 700;
    color: var(--black-color);
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
}

.skeletonTitleWrapper{
    max-width: 480px;
}
@media only screen and (max-width: 1399px){
    .counterBox {
        padding: 24px 12px;
        font-size: 1em;
    }
    .counterTitle{
        font-size: 32px;
    }
}
@media only screen and (max-width: 991px){
    .counterBox {
        padding: 16px 12px;
        font-size: .9em;
    }
    .counterTitle{
        font-size: 28px;
    }
}
@media only screen and (max-width: 479px){
    .counterTitle{
        font-size: 24px;
    }
}