.videoContainer{
    position: relative;
    height: clamp(360px, 50vh, 480px);
    margin-top: 24px;
    border-radius: 16px;
    overflow: hidden;
}
.videoContainer img{
    z-index: 1;
    object-fit: cover;
}
.videoContainer video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
}
.playButton{
    --area: 60px;
    width: var(--area);
    height: var(--area);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border: none;
    border-radius: 100%;
    font-size: 18px;
    display: grid;
    place-items: center;
    padding: 0 0 0 2px;
}