.banner{
    position: relative;
    z-index: 1;
}
.banner figure{
    position: relative;
    z-index: 1;
    padding-top: 32.25%;
    border-radius: 20px;
    overflow: hidden;
}
.banner figure::before{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(31, 88, 203, 0.4);
    z-index: 1;
}
.bannerText{
    position: absolute;
    top: 50%;
    inset-inline: 0;
    transform: translateY(-50%);
    z-index: 2;
    color: var(--white-color);
    text-align: center;
}
.bannerText_in{
    max-width: 600px;
    margin: 0 auto;
}
.bannerTitle{
    font-size: 48px;
    color: inherit;
}
.bannerTitle > *{
    display: block;
}
.skeletonTitle{
    height: 42px;
}
.skeletonTitle:last-child{
    height: 36px;
}



figure.partnerabnrmain{
    position: relative;
    border-radius: 0;
}
figure.partnerabnrmain::before{
    display: none;
}
.bannerTextPartner{
    top: 50%;
    text-align: left;
    z-index: 2;
    position: absolute;
    transform: translateY(-50%);
    inset-inline: 0px;
    color: var(--white-color);
}
.bannerTitle{
    font-size: 45px;
    line-height: 60px;
    font-weight: 600;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 3px;
}
.bannerTitle span{
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    color: #000000;
}
.banerparaul{
    font-size: 16px;
    color: #111111;
    font-size: 25px;
    line-height: 34px;
    text-transform: capitalize;
    font-weight: 400;
}
.banerparaul ul{
    margin: 20px 0 0 0;
    padding: 0;
}
.banerparaul ul li{
    list-style: none;
    margin: 0;
    padding: 3px 24px;
    color: #000000;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    text-transform: capitalize;
}
.banerparaul ul li::before{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 10px;
    left: 0;
    content: "";
    background: url(../our-partner/bannertick.png) no-repeat top left;
    background-size: contain;
}