.hwbsec {
  background: #E5F1FF;
  padding: 90px 0;
}
.hwdfulltextbox {
  margin-bottom: 50px;
}
.hwdtilte {
  font: 400 45px / 1.2 var(--primary-font); 
  color: var(--black-color);
  text-transform: capitalize;
  margin-bottom: 24px;
}
.hwdtiltepara {
  width: 75%;
  color: #2C2C2C;
  font-size: 17px;
  line-height: 1.8;
  text-transform: capitalize;
}
.separateText .hwdtilte{
    width: 50%;
}
.separateText .hwdtiltepara{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.techSectionsam {
  /* padding: 0px 0px 70px 0px; */
  padding: 90px 0;
}
.hwdtectiltepara {
  margin-bottom: 25px;
}
.hwdtectilte {
  width: 60%;
}
.techcardimg {
	--size: 80px;
	width: var(--size);
	height: var(--size);
	place-items: center;
	margin: auto;
	display: grid;
	position: relative;
}
.techcardimg img{
  object-fit: scale-down;
}

.uspSliderSection {
  padding: 60px 0;
}


.techCardsbx {
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  text-align: center;
  padding: 25px;
}

.techstitle {
  text-transform: uppercase;
  font-weight: 600;
  color: #222222;
  font-size: 17px;
  line-height: 25px;
}

.techcmb .row {
  row-gap: 25px;
}

.techcardimg {
  max-width: 100px;
  margin: 0 auto 15px;
}

.techcardimg img {
  width: 100%;
}

/*=============HIRE-DEVELOPER-ENDS=============*/



.uspCard {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  height: 100%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.uspImage {
  width: 100%;
  height: 160px;
  object-fit: contain;
  margin-bottom: 15px;
}

.techCard img {
  width: 60px;
  margin-bottom: 10px;
}

.counterBox {
  text-align: center;
  padding: 20px;
}

.teamCard img {
  width: 100%;
  border-radius: 10px;
}

.counter_section{
  padding: 80px 0px;
  background: var(--primary-background);
}