.fullBox{
    box-shadow: none;
    max-width: 100%;
    margin: 0 !important;
    box-shadow: none !important;
    padding-inline: 0;
}
.editorText {
	font-size: 1.05em;
	line-height: 1.9;
}
.aboutPoster{
    position: relative;
    z-index: 1;
    border-radius: 16px;
    padding-top: 80%;
    overflow: hidden;
}