.navMenu ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu_wrapper{
    display: flex;
    align-items: center;
    gap: 24px;
    font: 600 15px / 1 var(--primary-font);
    letter-spacing: 0.3px;
}
.menu_wrapper li{
    position: static;
}
.navLink{
    display: block;
    color: var(--navigation-color);
    position: relative;
    z-index: 1;
}
.navLink:hover,
.current > .navLink{
    color: var(--navigation-active);
}
.menu_wrapper > .navItem > .navLink{
    line-height: 96px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 4px;
}
.navLink svg{
    font-size: .85em;
}
/* Megamenu */
.megaMenu{
    position: absolute;
    z-index: 9;
    top: 100%;
    inset-inline: 0;
    /* background: linear-gradient(90deg, var(--white-color) 38%, #f3f6fd 38%, #f3f6fd 100%); */
    background: linear-gradient(90deg, var(--white-color) 32%, #f3f6fd 32%, #f3f6fd 100%);
    width: 100%;
    border-block: 1px solid rgba(217, 217, 217, 1);
    padding-block: 36px;
    margin-top: -16px;
    opacity: 0;
    visibility: hidden;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.megaMenu.megaMenuBlock{
    background: #f3f6fd;
}
.showMegaMenu.megaMenu{
    margin-top: 0;
    opacity: 1;
    visibility: visible;
}
.tabMenu_wrapper{
    max-width: 430px;
}
.tabSubmenu .navItem{
    display: flex;
    align-items: start;
    font: 500 16px / 1.5 var(--primary-font);
    gap: 8px;
    color: var(--black-color);
    cursor: pointer;
    padding: 12px 0px;
    text-transform: uppercase;
    border-bottom: 1px solid #D9D9D9;
    transition: all .3s ease-in-out;
}
.tabSubmenu .navItem:last-child{
    border-bottom: none;
}
.tabSubmenu .navItem.activeMenu{
    color: var(--black-color);
    text-shadow: .5px 0px currentColor;
}
.menuIcon{
    --size: 24px;
    width: var(--size);
    height: var(--size);
    flex-shrink: 0;
    position: relative;
    display: none;
}
.menuIcon img{
    width: auto;
    height: auto;
    object-fit: contain;
}
.circleIcon{
  margin-left: auto;
  --size: 30px;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  background: #F0F0F0;
  display: grid;
  place-items: center;
  font-size: calc(var(--size) / 2);
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
}
.tabSubmenu .navItem.activeMenu .circleIcon,
.tabSubmenu .navItem:hover .circleIcon{
    opacity: 1;
    visibility: visible;
}
.submenuLayout{
    display: grid;
    grid-template-columns: 32% 67%;
    column-gap: 1%;
    padding-left: 30px;
}
.navPoster {
    position: relative;
    width: 100%;
    height: 340px;
}
.navPoster img{
    border-radius: 16px;
}
.submenu a{
    font: 400 15px / 1.5 var(--primary-font);
    padding-block: 7px;
    display: flex;
    align-items: start;
    gap: 4px;
}
.submenu a:hover {
    text-shadow: 0.3px 0 currentColor; 
}
.submenu a svg {
    margin-top: 6px;
}
.subMenuBlockWrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    padding-left: 24px;
    gap: 16px;
}
.blockTitle{
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary-color);
}
.blockTitle::after{
    height: 2px;
}
.navMenu p {
    font-weight: normal;
}
/* ==========Portfolio========== */
.megaMenu.megaMenuPortfolio{
    background: transparent;
    padding: 0px;
    border-bottom: none;
}
.portfolioIntro{
    margin-bottom: 36px;
    font-size: 18px;
}
.portfolioList{
    max-width: 76%;
    margin-left: auto;
}
.portfolioList ul{
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 16px;
    max-width: 82%;
    display: grid;
    padding: 20px;
    background: var(--primary-color);
    box-shadow: 0px 3px 8px #ccc;
}
.portfolioBox{
    text-align: center;
    display: grid;
    border-radius: 4px;
    overflow: hidden;
    background: var(--white-color);
    min-height: 100%;
}
.posterTitle{
    font: 500 15px / 1.25 var(--primary-font);
    padding: 10px 12px;
}
.portfolioPoster {
    position: relative;
    padding-top: 68%;
}
@media only screen and (max-width:1760px){
    .megaMenu{
        background: linear-gradient(90deg, var(--white-color) 30%, #f3f6fd 30%, #f3f6fd 100%);
    }
}
@media only screen and (max-width:1600px) {
    .menu_wrapper{
        gap: 18px;
    }
    .tabSubmenu .navItem{
        font-size: 14px;
        padding-block: 8px;
    }
    .submenu a{
        font-size: 14px;
    }
    .megaMenu{
        /* background: linear-gradient(90deg, var(--white-color) 36%, #f3f6fd 36%, #f3f6fd 100%); */
        background: linear-gradient(90deg, var(--white-color) 30%, #f3f6fd 30%, #f3f6fd 100%);
    }
    .navPoster {
        height: 320px;
    }
    .navPoster img{
        border-radius: 8px;
    }
    .posterTitle{
        font-size: 14px;
    }
    .portfolioList ul{
        gap: 12px;
    }
}
@media only screen and (max-width:1480px){
    .megaMenu{
        background: linear-gradient(90deg, var(--white-color) 28%, #f3f6fd 28%, #f3f6fd 100%);
    }
}
@media only screen and (max-width:1399px) {
    .menu_wrapper{
        gap: 12px;
        font-size: 13px;
    }
    .submenuLayout{
        grid-template-columns: 36% 63%;
    }
    .submenu a{
        font-size: 13px;
    }
    .posterTitle{
        font-size: 13px;
    }
    .navPoster {
        height: 280px;
    }
    .portfolioList ul{
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
}