.responsiveBody{
    --height: 90px;
    --space: 16px;
    padding: 0px 1px;
	background: linear-gradient(215deg, var(--hover-color) 40%, var(--primary-color) 85%, #000 100%);
    position: relative;
    z-index: 1;
}
.responsive_btn {
	cursor: pointer;
	text-align: center;
	width: 40px;
	height: 40px;
	margin: -2px 0;
	position: relative;
	z-index: 20;
	background: var(--hover-color);
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.responsive_btn em {
	--space: -7px;
	display: block;
	height: 2px;
	width: 20px;
	position: relative;
	top: 50%;
	margin: -1px auto;
}
.responsive_btn em::before,
.responsive_btn em::after {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}
.responsive_btn em,
.responsive_btn em::before,
.responsive_btn em::after{
	background: var(--white-color);
	-webkit-border-radius: 1px;
	border-radius: 1px;
}
.responsive_btn em:before { top: var(--space); }
.responsive_btn em:after { bottom: var(--space); }
.responsiveLogo {
	max-width: 150px;
}
.responsiveLogo img {
	width: 100%;
	height: 100%;
}
.responsiveMenu ul{
	padding: 0;
	margin: 0;
}
.responsiveMenu li {
    display: block;
    border-bottom: 1px solid #ccc;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 400;
    position: relative;
    z-index: 1;
    --toggleMenu: 36px;
	margin: 0;
}
.responsive-children-item :is(.mainMenuWrapper, .submenu-title-wrapper){
    display: grid;
    grid-template-columns: repeat(1, 1fr var(--toggleMenu));
	padding-right: 4px;
	align-items: center;
}
.responsiveMenu ul > li:last-child {
	border-bottom: none;
}
.responsive-menuItem a {
    display: block;
    padding: 10px var(--space);
    color: inherit;
}
.submenuToggle {
	width: var(--toggleMenu);
	height: var(--toggleMenu);
	display: grid;
	place-items: center;
	background: var(--white-color);
	color: var(--primary-color);
	border-radius: 3px;
    cursor: pointer;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.showSubmenu .mainMenuWrapper .submenuToggle svg,
.submenu-group:has(.open) .submenuToggle svg{
    transform: rotate(-180deg);
}
.submenu-title-wrapper{
    padding: 10px 0px 10px var(--space);
	cursor: pointer;
}
.responsive-submenu{
    grid-column:1/-1;
    background: var(--primary-color);
    max-height:0;
    overflow:hidden auto;
    transition:max-height .35s ease;
}
.responsiveMenu .responsive-submenu li{
	font-size: .92em;
}
.responsive-submenu.open{
    max-height:500px;
}
.third-level-menu.responsive-submenu {
	background: var(--black-color);
}
.responsive_social {
	gap: 8px;
	flex-wrap: wrap;
	font-weight: 600;
	font-size: 18px;
}