.mainFooter{
    position: relative;
    z-index: 1;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 16px;
    padding: 50px 0px 0px;
}
.mainFooter ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.mainFooter li{
    margin-bottom: 0;
}
.mainFooter a:hover, .navLink:hover{
    color: var(--white-color);
    text-decoration: underline;
}
.row{
    display: grid;
    /* grid-template-columns: 22% 15% 24% 15% 24%; */
    grid-template-columns: 24% 15% 24% 17% 20%;
    margin-inline: -12px;
}
.columnBox{
    padding-inline: 12px;
}
.logo{
    padding: 0;
    background: transparent;
    display: inline-block;
    max-width: 175px;
}
.logo img, .isoBox img{
    width: auto;
    height: auto;
    object-fit: scale-down;
}
.certified{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 36px;
}
.isoBox{
    flex: 0 0 auto;
    width: 100px;
    padding: 8px;
    border-radius: 8px;
    background: var(--white-color);
    display: grid;
    place-items: center;
}
.followSocial{
    margin-top: 30px;
}
.followSocial span{
    font-weight: 500;
    font-size: 1.2em;
    line-height: normal;
    margin-bottom: 6px;
}
.title{
    font: 600 22px / 1.2 var(--primary-font);
    margin-bottom: 20px;
    letter-spacing: 0.8px;
}
.clickBtn{
    display: none;
}
.navLink{
    font-size: 1.05em;
    line-height: 1.35;
    padding-block: 6px;
}
.areaList{
    display: grid;
    row-gap: 12px;
}
.areaList li{
    display: flex;
    align-items: start;
    column-gap: 12px;
}
.areaList span{
    flex-shrink: 0;
    --size: 34px;
    width: var(--size);
    height: var(--size);
    text-align: center;
    display: grid;
    place-items: center;
}
.areaList span.areaIcon{
    background: var(--white-color);
    padding: 8px;
    border-radius: 4px;
}
.copyright{
    margin-top: 48px;
    padding-bottom: 16px;
    font-size: 0.92em;
}
.inlineLink li{
    position: relative;
    z-index: 1;
    display: flex;
}
.inlineLink li:not(:first-child)::before{
    content: '|';
    display: block;
    margin-inline: 10px;
}
/* Scroll Up */
.scrollup {
	position: fixed;
	bottom: 20px;
	right: 12px;
	z-index: 9;
	--area: 48px;
    place-items: center;
	font-size: calc(var(--area) / 3);
	width: var(--area);
	height: var(--area);
	border: 1px solid var(--white-color);
	color: var(--white-color);
	background: var(--primary-color);
	cursor: pointer;
	text-align: center;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	-webkit-animation: rjPulse 3000ms ease-out infinite;
	animation: rjPulse 3000ms ease-out infinite;
}
@-webkit-keyframes rjPulse {
	0% {
	-webkit-box-shadow: 0 0 0 var(--primary-color);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}
@keyframes rjPulse {
	0% {
	-moz-box-shadow: 0 0 0 var(--primary-color);
	box-shadow: 0 0 0 var(--primary-color);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
		box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}
.paymentCenter{
    padding: 0 !important;
    max-width: 150px;
}
.paymentCenter img{
    width: auto;
    height: auto;
    position: static !important;
}
@media only screen and (max-width:1600px){
    .navLink{
        font-size: 1em;
    }
    .title{
        font-size: 20px;
    }
    .scrollup{
        --area: 40px;
    }
}
@media only screen and (max-width:1399px){
    .mainFooter{
        font-size: 14px;
    }
    .title{
        font-size: 18px;
    }
    .scrollup{
        --area: 40px;
    }
}
@media only screen and (max-width: 1199px){  
    .row{
        grid-template-columns: 22% 15% 24% 20% 20%;
    }
    .logo{
        max-width: 150px;
    }
}
@media only screen and (max-width: 991px){
    .mainFooter{
        font-size: 13px;
        padding-top: 40px;
    }
    .row{
        grid-template-columns: 20% 35% 25% 20%;
        row-gap: 24px;
    }
    .columnBox:first-child{
        grid-column: 1/-1;
    }
    .logoColumn{
        gap: 20px;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 12px;
    }
    .followSocial{
        margin-top: 0px;
    }
    .title{
        font-size: 17px;
        margin-bottom: 12px;
    }
    .copyright{
        margin-top: 36px;
        padding-bottom: 12px;
        text-align: center;
    }
    .copyright hr{
        margin-block: .75rem;
    }
    .inlineLink{
        justify-content: center;
    }
}

@media only screen and (max-width: 767px){
    .row {
        grid-template-columns: repeat(2, 1fr);
    }
    .paymentCenter{
        max-width: 120px;
    }
}
@media only screen and (max-width: 479px){
    .mainFooter{
        font-size: 14px;
        padding-top: 30px;
    }
    .paymentCenter{
        max-width: 90px;
        margin: auto;
    }
    .row{
        grid-template-columns: inherit;
        row-gap: 8px;
    }
    .logoColumn {
        display: block;
        text-align: center;
    }
    .followSocial{
        margin-top: 20px;
    }
    .footerSocial{
        justify-content: center;
    }
    .title{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--hover-color);
        padding: 12px 12px;
        border-radius: 4px;
        cursor: pointer;
    }
    .open .title{
        border-radius: 4px 4px 0px 0px;
    }
    .navList {
        height: 0;
        transition: height .35s;
        overflow: hidden;
    }
    .navList ul{
        background: var(--hover-color);
        padding: 16px;
        padding-top: 0;
        border-radius: 0px 0px 4px 4px;
    }
    .clickBtn {
        display: block;
    }
    .copyright{
        margin-top: 24px;
    }
}
@media only screen and (max-width: 359px){
    .logo{
        max-width: 130px;
    }
}