.slideCard {
  display: flex;
  justify-content: center;
}
.card {
  background: var(--white-color);
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.imageWrapper {
  padding-top: 56.25%;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.imageWrapper img {
  transition: transform 0.3s ease;
  border-radius: 10px;
}
.card:hover .img {
  transform: scale(1.05);
  border-radius: 0px;
}
.cardBody {
  padding: 10px;
  text-align: left;
}
.meta {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #595959;
  font-size: 0.9em;
  margin-bottom: 8px;
}
.cardTitle {
  color: #222;
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  height: 2lh;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.cardText {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 16px;
  height: 2lh;
  overflow: hidden;
}
.readMore{
  font-weight: 500;
  font-size: 16px;
}
.readMore:hover {
  text-decoration: underline;
}
.skeletontitle{
  height: 32px;
  margin-bottom: 8px;
}
.skeletonlearnMore{
  height: 32px;
  width: 120px;
}
@media only screen and (max-width:1399px) {
  .cardTitle {
    font-size: 1rem;
  }
  .readMore{
    font-size: 15px;
  }
}