.serviceTab {
    box-shadow: 0px 5px 52px rgba(0, 0, 0, 25%);
    padding: 14px;
    border-radius: 8px;
    margin-bottom: 50px;
}
.serviceTab ul{
    justify-content: space-between;
}
.serviceTab li{
    min-width: 120px;
    font: 400 20px / 1 var(--tertiary-font);
    background: var(--white-color);
    color: var(--secondary-color);
    padding: 18px 36px;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.serviceTab li:hover{
    color: var(--primary-color);
}
.serviceTab li.active{
    background: var(--primary-color);
    color: var(--white-color);
}
.serviceTab .tabSkeleton{
    width: 16%;
    height: 48px;
    background: linear-gradient(45deg, rgba(31, 88, 203, .26), var(--primary-background));
}
.box{
    display: grid;
    min-height: 100%;
    border-radius: 16px;
    border: 1px solid var(--primary-background);
    color: var(--black-color);
    background: linear-gradient(135deg, #DFF0FF 0%, #A8D3FF 50%, #6FA8FF 100%);
}
.item:nth-child(2) .box{
    background: linear-gradient(180deg, #0F56F2 0%, #2A7CFF 100%);
    color: var(--white-color);
}
.item:nth-child(3) .box{
background:
  linear-gradient(180deg, #f3f3f6 0%, #ffffff 100%),
  repeating-linear-gradient(
    0deg,
    rgba(0,0,0,0.03) 0px,
    rgba(0,0,0,0.03) 1px,
    transparent 1px,
    transparent 80px
  ),
  repeating-linear-gradient(
    90deg,
    rgba(0,0,0,0.03) 0px,
    rgba(0,0,0,0.03) 1px,
    transparent 1px,
    transparent 80px
  );
}
.item:nth-child(4) .box{
    background: linear-gradient(
    180deg,
    #0057d9 0%,
    #1e7fee 40%,
    #7bb8ff 100%
    );
    color: var(--white-color);

}
.poster{
    position: relative;
    z-index: 1;
    padding-top: 70%;
    overflow: hidden;
}
.poster img{
    object-fit: contain;
}
.subtitle{
    font: 700 30px / 1.25 var(--primary-font);
    color: inherit;
    text-align: center;
    padding: 20px;
    max-width: 350px;
    margin: 0 auto;
    text-wrap: balance;
}
/* skeleton */
.skeletonBox{
    background: #c4d3f242;
    display: grid;
}
@media only screen and (max-width:1600px){
    .serviceTab{
        margin-bottom: 40px;
    }
    .serviceTab li{
        font-size: 16px;
        padding: 16px 24px;
    }
    .linkText{
        margin-bottom: 4px;
    }
    .subtitle{
        font-size: 24px;
        max-width: 300px;
    }
}

@media only screen and (max-width:1399px){
	.serviceTab li {
		padding: 14px 20px;
		font-size: 14px;
	}
    .subtitle{
        font-size: 20px;
        max-width: 240px;
    }
}