/* ===== case stedy single section ===== */
.singleBannerSection{
    background-color: var(--primary-color);
    color: var(--white-color);
    min-height: 480px;
    padding: 85px 0;
}
.leftContent{
    padding: 0;
    margin: 0;
}
.leftContent h1{
    font: 500 45px / 1.2 var(--primary-font);
    padding: 0;
    margin: 0;
}
.leftContent h1 span{
    display: inline-block;
    font: 500 18px / 1 var(--primary-font);
    color: var(--black-color);
    background-color: var(--white-color);
    padding: 16px 30px;
    margin: 0 0 20px 0;
    border-radius: 30px;
}
.anotherPart{
    margin-top: 32px;
}
.middleContent{
    font-size: 1.15em;
}
.tagLine{
    display: inline-block;
    font: 500 21px / 1.5 var(--primary-font);
    border-bottom: 2px solid #D9D9D9;
    padding: 0 0 3px 0;
    margin: 0 0 25px 0;
}
.projectName{
    font: 400 20px / 1.25em var(--primary-font);
    padding: 0 0 0px 0;
    margin: 0 0 28px 0;
}
.projectName:last-child{
    margin-bottom: 0;
}
.projectName span{
    font-size: .85em;
    display: block;
    letter-spacing: 0.5px;
    margin-bottom: 4px;
}
.ListSection{
    padding: 90px 0;
}
.leftContentList ul{
    padding: 15px 0 0 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
}
.leftContentList ul li{
    font: 400 15px var(--primary-font);
    line-height: 42px;
    padding: 0 20px;
    margin: 0 10px 10px 0;
    background-color: var(--white-color);
    border: 1px solid #C3C3C3;
    border-radius: 30px;
    display: inline-block;
}
.campaignList{
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}
.campaignList span:not(:last-child)::after {
	content: ', ';
}
.singleSection{
    background-color: #F6F6F6;
}
.challengesSection{
    padding: 0 0 100px 0;
}
.challengesSection h6{
    color: var(--black-color);
    font-size: 36px;
    line-height: normal;
    margin: 0 0 50px 0;
    padding: 0;
}
.challengesList:not(:last-child){
    margin-bottom: 24px;
}
.challengesList .challenges,
.challengesList .solutions
{
    background-color: var(--white-color);
    padding: 36px;
    border-radius: 15px;
    height: 100%;
}
.challengesList .solutions{
    background-color: #E5F1FF;
}
.challengesList .challenges h2{
    color: var(--black-color);
    font-size: 20px;
    padding: 0 0 20px 0;
    margin: 0;
}
.challengesList .challenges p{
    padding: 0 0 0 0;
    margin: 0 0 4px;
}
.listIcon{
    --area: 42px;
    font-size: 16px;
    width: var(--area);
    height: var(--area);
    display: grid;
    place-items: center;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #CCCCCC;
    margin: 0 0 20px 0;
    color: #3A6CD0;
}
.challengesList .solutions .listIcon{
    color: #5FBB47;
}
.MySliderSection{
    padding: 0px 0px 80px 0;
}
.MySliderSection .title{
    color: var(--black-color);
    padding: 0 0 15px;
    font-size: 45px;
    margin-bottom: 24px;
    text-align: center;
}
.sliderContainer{
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0;
}
.sliderPostWrap{
    --round: 16px;
    background-color: var(--white-color);
    padding: var(--round);
    border-radius: var(--round);
}
.sliderPost{
    padding-top: 105%;
    border-radius: var(--round);
}
.TestimonialContainer{
    background-color: #1F58CB;
    padding: 150px 0 150px 0;
    position: relative;
    z-index: 1;
}
.TestimonialContainer::before{
    content: '';
    background: url(../../public/assets/images/abstract-bg.png) no-repeat left center / cover;
    position: absolute;
    inset: 0;
    z-index: 1;
    mix-blend-mode: multiply;
    opacity: 0.35;
    width: 40vw;
    height: 100%;
}
.videoSection{
    position: relative;
}
.videoWrapper {
    padding: 0 0;
    display: flex;
    justify-content: center;
}
.videoContainer {
    position: relative;
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 12;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}
.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.poster {
    object-fit: cover;
    z-index: 1;
}
.playButton {
    --area: 66px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -50%);
    background: #fff;
    color: #000;
    border: none;
    border-radius: 50%;
    width: var(--area);
    height: var(--area);
    font-size: calc(var(--area) / 2.2);
    display: grid;
    place-items: center;
    cursor: pointer;
    text-indent: 2px;
}
.videoGraphi{
    --space: -32px;
    --area: 180px;
    position: absolute;  
    width: var(--area);
    height: var(--area);
    background-color: #71A0FF;
    border-radius: 10px;
    top: var(--space);
    left: var(--space);
}
.feedBackText {
    padding: 0 0 0 40px;
}
.feedBackText h4{
    font-size: 25px;
    font-weight: 300;
    color: var(--white-color);
    padding: 0 0 20px 0;
    border-bottom: 1px solid #3E79EF;
    margin: 0;
}
.feedBackText p{
    font-size: 1.5em;
    color: var(--white-color);
    padding: 60px 0;
    margin: 0;
}
.feedBackText h6{
    font-size: 22px;
    font-weight: 300;
    color: var(--white-color);
    padding: 0 0 20px 0;
    margin: 0;
}
.feedBackText .myCustomers{
    font-size: 20px;
    font-weight: 300;
    color: var(--white-color);
    padding: 15px 0 0 0;
    border-top: 1px solid #3E79EF;
    margin: 30px 0 0 0;
    text-align: right;
}
.callToAction{
    background-color: var(--primary-baqckground);
}
.mobileBlock{
    display: none;
}

/* ===== case stedy single section end===== */

@media only screen and (max-width: 1600px) {
    .singleBannerSection{
        padding-block: 60px;
        min-height: 400px;
    }
    .leftContent h1{
        font-size: 40px;
    }
    .leftContent h1 span{
        font-size: 16px;
        padding: 12px 24px;
        margin-bottom: 16px;
    }
    .anotherPart{
        margin-top: 20px;
    }
    .projectName {
        margin: 0 0 20px;
    }
    .projectName span{
        margin-bottom: 2px;
    }
    .tagLine{
        font-size: 19px;
        margin-bottom: 20px;
    }
    .campaignList {
        font-size: 1em;
    }
    .challengesSection h6{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .challengesList .challenges,
    .challengesList .solutions{
        padding: 30px;
    }
    .challengesList .challenges h2{
        padding-bottom: 12px;
    }
    .challengesSection{
        padding-bottom: 80px;
    }
    .MySliderSection .title{
        padding-bottom: 8px;
        font-size: 40px;
    }
    .TestimonialContainer{
        padding-block: 120px;
    }
    .feedBackText h4 {
        padding-bottom: 16px;
        font-size: 22px;
    }
    .feedBackText h6{
        font-size: 20px;
    }
    .feedBackText p {
        padding: 40px 0;
        font-size: 1.25em;
    }
    .feedBackText .myCustomers{
        font-size: 18px;
        padding-top: 10px;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 1399px){
    .projectName {
        font-size: 18px;
        margin-bottom: 16px;
    }
    .MySliderSection{
        padding-bottom: 70px;
    }
    .TestimonialContainer{
        padding-block: 90px;
    }
    .feedBackText {
        padding-left: 24px;
    }
}
@media only screen and (max-width: 1199px){
    .challengesSection{
        padding-bottom: 60px;
    }
    .MySliderSection .title{
        font-size: 36px;
    }
    .sliderPostWrap{
        --round: 12px;
    }
    .TestimonialContainer{
        padding-block: 60px;
    }
    .feedBackText {
        padding-left: 16px;
    }
    .feedBackText h4 {
        padding-bottom: 12px;
        font-size: 20px;
    }
    .feedBackText h6{
        font-size: 18px;
    }
    .feedBackText p {
        padding: 24px 0;
        font-size: 1.05em;
    }
    .feedBackText .myCustomers{
        font-size: 16px;
        margin-top: 10px;
    }
    .playButton{
        --area: 54px;
        bottom: -10px;
        right: -10px;
    }
    
}
@media only screen and (max-width: 991px){
    .singleBannerSection{
        padding-block: 36px;
    }
    .tagLine {
        margin-bottom: 16px;
        font-size: 18px;
    }
    .challengesSection h6{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .challengesList .challenges,
    .challengesList .solutions{
        padding: 20px;
        border-radius: 8px;
    }
    .challengesList .challenges h2{
        font-size: 18px;
    }
    .listIcon{
        --area: 40px;
        font-size: 15px;
        margin-bottom: 16px;
    }
    .challengesSection{
        padding-bottom: 50px;
    }
    .MySliderSection{
        padding-bottom: 60px;
    }
}
@media only screen and (max-width: 767px){
    .leftContent h1{
        font-size: 36px;
    }
    .leftContent h1 span {
        margin-bottom: 12px;
        padding: 10px 20px;
        font-size: 14px;
    }
    .TestimonialContainer::before{
        background-position: top;
        background-size: contain;
    }
    .MySliderSection .title{
        font-size: 32px;
        padding-bottom: 0;
    }
    .MySliderSection{
        padding-bottom: 50px;
    }
    .videoGraphi{
        --area: 140px;
    }
}
@media only screen and (max-width: 575px){
    .leftContent h1{
        font-size: 32px;
    }
    .singleBannerSection {
        padding-block: 24px;
    }
    .headWrap{
        margin-bottom: 16px;
    }
    .mobileNone{
        display: none;
    }
    .mobileBlock{
        display: block;
    }
    .challengesSection h6{
        font-size: 20px;
        margin-bottom: 0px;
    }
    .listIcon{
        margin-bottom: 0;
    }
    .challengesSection,
    .MySliderSection{
        padding-bottom: 40px;
    }
    .TestimonialContainer{
        padding-block: 40px;
    }
    .TestimonialContainer::before{
        width: 75vw;
    }
    .videoGraphi{
        --space: -20px;
        --area: 120px;
    }
}
@media only screen and (max-width: 479px){
    .leftContent h1{
        font-size: 28px;
    }
    .leftContent h1 span {
        margin-bottom: 8px;
        padding: 9px 14px;
        font-size: 12px;
    }
    .anotherPart{
        margin-top: 12px;
    }
    .middleContent {
        font-size: 1.05em;
    }
    .tagLine {
        margin-bottom: 10px;
        font-size: 17px;
    }
    .projectName {
        font-size: 17px;
        margin-bottom: 12px;
    }
    .challengesSection,
    .MySliderSection{
        padding-bottom: 30px;
    }
    .MySliderSection .title {
        padding-bottom: 0;
        font-size: 28px;
        margin-bottom: 16px;
    }
    .videoGraphi{
        --space: -16px;
        --area: 100px;
    }
    .playButton {
        --area: 48px;
        bottom: -10px;
        right: -10px;
        text-indent: 4px;
    }
}