.singlePage {
    background: rgba(246, 246, 246, 1);
}
.cmsBanner{
    padding: 50px 0;
    min-height: 390px;
    display: grid;
    align-items: center;
    font-size: 1.1em;
    letter-spacing: 0.5px;
    position: relative;
    z-index: 1;
}
.cmsBanner::after{
    content: '';
    position: absolute;
    inset: 0;
    background: var(--primary-color);
    z-index: -1;
    clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
    width: 58vw;
}
.bannerArrow{
    --size: 48px;
    width: var(--size);
    height: var(--size);
    margin: -24px auto 0;
    background: var(--primary-color);
    color: var(--white-color);
    display: grid;
    place-items: center;
    border-radius: 100%;
    font-size: 16px;
    border: 2px solid var(--white-color);
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.bannerText{
    max-width: 500px;
}
.bannerTitle{
    font-size: 48px;
}
.tabList ul{
    --round: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: max-content;
    margin: 0 auto 80px;
    background: #f5f5f5;
    color: rgb(64, 64, 64);
    font-weight: 600;
    font-size: 16px;
    border-radius: var(--round);
    padding: 8px;
}
.tabItem{
    min-width: 200px;
    padding: 14px 24px;
    border-radius: var(--round);
    text-align: center;
    cursor: pointer;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.tabItem.active{
    background: var(--primary-color);
    color: var(--white-color);
}
/* Card */
.cardBox{
    --round: 16px;
    display: grid;
    grid-template-columns: repeat(1, 5fr 6fr);
    box-shadow: 0px 4px 8px 0px #53535340;
    border-radius: var(--round);
}
.thumbnail{
    padding: 16px;
    background: #CEE5FF;
    border-radius: var(--round);
}
.thumbnail figure{
    width: 100%;
    height: 330px;
    border-radius: var(--round);
    overflow: hidden;
    object-fit: cover;
    /* background-size: 100%;
    background-position-x: 0;
    background-repeat: no-repeat;
    transition: all 2s ease; */
}
/* .thumbnail:hover figure{
    background-position-y: 100%;
} */
.cardData{
    padding: 12px 16px 12px 20px;
    align-self: center;
}
.subtitle{
    font: 600 24px / 1.2 var(--primary-font);
    margin-bottom: 12px;
    color: #303030;
}
.cardData ul{
    display: grid;
    row-gap: 10px;
}
.cardData ul li{
    display: flex;
    align-items: start;
    gap: 2px;
}
.cardData ul li::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
    --size: 18px;
    width: var(--size);
    height: var(--size);
    background: url('./images/check.svg') no-repeat center / contain;
    margin-top: 2px;
    color: #1F58CB;
}
.projectName{
    font: 600 1.1em / 1.3 var(--primary-font);
    margin-top: 16px;
}
.projectName svg{
    margin-right: 8px;
}

/* Technologies Area */
.technologiesArea{
    margin: 20px 0px 80px;
}
.brands ul {
    grid-template-columns: repeat(5,1fr);
    display: grid
}
.brands li {
    text-align: center;
    color: var(--primary-title-color);
    background: #fffff3;
    align-content: center;
    gap: 10px;
    padding: 16px;
    font-size: 1.1em;
    font-weight: 500;
    display: grid
}
.brands li:nth-child(odd) {
    background: #e1e7f3
}
.brandLogo {
    --size: 80px;
    width: var(--size);
    height: var(--size);
    place-items: center;
    margin: auto;
    display: grid;
    position: relative
}
.brandLogo img {
    object-fit: contain;
    mix-blend-mode: multiply
}
.calltoAction{
    background: var(--primary-background);
    box-shadow: 0px 4px 4px #2c2c2c40;
    margin-bottom: 48px;
}
.calltoAction_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px 30px;
    padding: 40px 48px;
}
.calltoAction_content .calltoActionTitle{
    color: #313131;
}
.calltoActionTitle span{
    display: block;
    color: var(--black-color);
}
@media only screen and (max-width: 1600px) {
    .cmsBanner{
        min-height: 320px;
    }
    .bannerTitle{
        font-size: 38px;
    }
    .cardBox{
        --round: 10px
    }
    .thumbnail figure{
        height: 250px;
    }
    .subtitle{
        font-size: 22px;
    }
}