.heroSection {
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--hover-color) 100%);
    padding: 100px 0;
    color: var(--black-color);
    position: relative;
    overflow: hidden;
    min-height: 500px;
    font-size: 1.1em;
} 
.bannerText{
    position: relative;
    z-index: 1;
}
.bannerTitle{
    color: var(--black-color);
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
}
.bannerTitle span{
    font-size: .55em;
    font-weight: 600;
    line-height: 1.2em;
    display: block;
}
.aboutPoster{
    aspect-ratio: 4/3;
    padding: 0;
}
.referralSectionsam{
    background: linear-gradient(90deg, var(--primary-color) 50%, #ededed 50%, #ededed 100%);
}
.referralContent{
    padding: 72px 36px;
    font-size: 1.1em;
    color: var(--black-color);
}
.referralContentWhite{
    color: var(--white-color);
}
.referralContentWhite :is(.sectionTitle, .small_title){
    color: inherit;
}
.jobCard{
    border: 1px solid #e9ecef;
    border-radius: 16px;
    font-size: 16px;
    line-height: 1.75;
    --space: 24px;
    box-shadow: 0 5px 25px #00000014;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.jobCard:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 35px #0000001f;
}
.CardHeader, .CardBody{
    padding: var(--space);
}
.jobMeta{
    gap: 6px 12px;
    margin-top: 12px;
}
.jobMeta span {
	color: var(--body-color);
    background: #4747471c;
    border-radius: 4px;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}
.jobMeta .jobLocation{
    color: var(--primary-color);
    background: #1f58cb24;
}
@media only screen and (max-width: 1600px){
    .bannerTitle{
        font-size: 66px;
    }
}
@media only screen and (max-width: 1399px){
    .bannerTitle{
        font-size: 54px;
    }
    .referralContent{
        padding: 56px 24px;
    }
    .jobCardTitle{
        font-size: 20px;
    }
    .jobCard{
        font-size: 15px;
    }
}
@media only screen and (max-width: 1199px){
    .referralContent{
        padding: 40px 20px;
    }
}
@media only screen and (max-width: 991px){
    .heroSection {
        padding: 70px 0;
        min-height: 360px;
    }
    .heroSection::before{
        content: '';
        position: absolute;
        inset: 0;
        background: var(--white-color);
        opacity: 0.5;
    }
    .bannerTitle{
        font-size: 48px;
    }
    .referralSectionsam{
        background: #ededed;
    }
    .referralContent {
        padding: 40px 20px;
        width: 100vw;
        position: relative;
        inset-inline: 50%;
        margin: 0px -50vw;
    }
    .referralContentWhite{
        background: var(--primary-color);
    }
    .referralContentInner{
        max-width: 696px;
        margin: auto;
    }
}
@media only screen and (max-width: 767px){
    .bannerTitle{
        font-size: 36px;
    }
    .referralContentInner{
        max-width: 516px;
    }
}
@media only screen and (max-width: 575px){
    .referralContent{
        padding: 30px 16px;
    }
}
@media only screen and (max-width: 479px){
    .heroSection {
        min-height: 300px;
        padding: 50px 0;
    }
    .jobCard {
        font-size: 14px;
        --space: 16px;
        border-radius: 8px;
    }
    .jobCardTitle{
        font-size: 18px;
    }
    .jobMeta span{
        font-size: 13px;
    }
}