.sectionArea{
    background: #f2f4f7;
    padding-block: 80px;
}
.section_content{
    padding: 48px 36px;
    border-radius: 10px;
    background: var(--white-color);
    color: #1e686b;
    font-size: 1.1em;
    height: 100%;
}
.section_content > *{
    max-width: 620px;
}
.subtitle{
    font: 600 18px / 1.35 var(--primary-font);
    color: var(--primary-color);
    margin-bottom: 20px;
}
.title{
    color: var(--black-color);
    text-transform: capitalize;
}
.counterWrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}
.countBox{
    padding: 30px;
    border-radius: 10px;
    background: var(--white-color);
    color: #0d4446;
    font-size: 1.1em;
    font-weight: 500;
}
.icon{
    margin-bottom: 8px;
}
.countWrap{
    display: flex;
    align-items: center;
    gap: 3px;
    color: var(--primary-color);
    font: 500 30px / 1.2 var(--primary-font);
    margin-bottom: 4px;
}

@media only screen and (max-width: 1600px){
    .sectionArea{
        padding-block: 60px;
    }
}