.applyContent {
    max-width: 1000px;
    margin: 0 auto;
}
.jobLocation {
    font-weight: 600;
    font-size: 1.25em;
    color: var(--secondary-color);
    margin-bottom: 20px;
}
@media only screen and (max-width: 991px){
    .jobLocation{
        margin-bottom: 12px;
        font-size: 1.1em;
    }
}
