.item {
  border: 0 solid #d3d3d3;
  border-width: 0 0 1px 1px;
  padding: 24px;
}
.item:nth-child(4n+1) {
  border-left-width: 0;
}
.box{
    color: rgba(44, 44, 44, 1);
    display: grid;
    min-height: 100%;
}
.box p{
    height: 2lh;
    overflow: hidden;
}
.icon{
    --size: 60px;
    position: relative;
    width: var(--size);
    height: var(--size);
    margin-bottom: 8px;
}
.boxtitle{
	font: 400 22px / 1.35 var(--primary-font);
	margin-bottom: 8px;
    color: rgba(49, 49, 49, 1);
}
.learnMore{
    font: 400 16px / 1.5 var(--tertiary-font);
    color: var(--black-color);
    margin-top: auto;
}
.item.specialBox{
    padding: 7px 0px 0px 7px;
}
.specialBox .box{
    background: var(--primary-color);
    color: var(--white-color);
    min-height: 100%;
    display: grid;
    align-content: center;
    padding: 30px;
}
.smallTitle{
    font-size: 1.4em;
    letter-spacing: 1px;
    margin-bottom: 4px;
}
.boldTitle{
    font: 700 40px / 1.2 var(--primary-font);
    margin-bottom: 8px;
}
.specialBoldTitle{
    font: 600 30px / 1.2 var(--primary-font);
    margin-bottom: 8px;
}
.button{
    max-width: max-content;
    box-shadow: 0px 0px 0px 1px var(--white-color);
}

@media only screen and (max-width: 1600px){
    .specialBox .box{
        padding: 20px;
    }
    .boldTitle{
        font-size: 32px;
    }
    .smallTitle{
        font-size: 1.3em;
    }
    .boxtitle{
        font-size: 20px;
    }
}