.subtitle{
    font: 600 18px / 1.35 var(--primary-font);
    color: #04bdc4;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.title{
    font-weight: 400;
    text-transform: capitalize;
}
.row{
    position: relative;
}
.row::after {
	content: "";
	bottom: 0;
	background: var(--white-color);
	z-index: 1;
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
}