.cardPoster{
    position: relative;
    z-index: 1;
    aspect-ratio: 16/9;
    border-radius: 8px;
}
.icon{
    --size: 48px;
    width: var(--size);
    height: var(--size);
    color: var(--white-color);
    display: grid;
    place-items: center;
    border-radius: 100%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    cursor: pointer;
}
span.icon{
    background: #ff0000;    
}
/* text  */
.card{
    border-radius: 8px;
    border: 1px solid rgba(229, 229, 229, 1);
    position: relative;
    overflow: hidden;
    background: #f7f7f7;
    font-size: 16px;
    line-height: 1.7;
    min-height: 100%;
    cursor: pointer;
}
.card_caption{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid rgba(229, 229, 229, 1);
    overflow: hidden;
    background: var(--white-color);
}
.posterData{
    --leave: 36px;
    background: linear-gradient(180deg, #1E58CA 0%, #0F2C64 100%);
    color: var(--white-color);
    padding: 12px var(--leave) 12px 8px;
    font-size: 15px;
    line-height: normal;
    text-align: right;
    display: grid;
    align-content: center;
    position: relative;
    letter-spacing: .3px;
}
.cardItem:nth-child(even) .posterData{
    order: 1;
    padding-inline: var(--leave) 12px;
    text-align: start;
}
.cardItem:nth-child(even) .brandLogo{
    left: var(--leave);
}
.client_name{
    display: block;
    font-size: 1.75em;
    line-height: 1.1;
    font-weight: 600;
    margin-block: 12px 4px;
}
.projectName{
    margin-top: 16px;
    font-size: 1.25em;
}
.cardLogo{
    position: relative;
    min-height: 220px;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.cardLogo img{
    object-fit: scale-down;
    max-width: 80%;
    margin: auto;
    width: auto !important;
    height: auto !important;
}
.cardText{
    padding: 24px 30px;
}
.cardText span{
    color: var(--primary-color);
    font-size: .9em;
}
/* .cardText p{
    height: 4lh;
    overflow: hidden;
} */