.banner{
    position: relative;
    z-index: 1;
    background: linear-gradient(0deg, transparent 35%, var(--primary-color) 35%, var(--primary-color) 100%);
    padding: 80px 0px 0px;
    color: var(--white-color);
}
.bannertext{
    max-width: 780px;
    margin: auto;
    text-align: center;
}
.heading{
    font: 600 40px / 1.1 var(--primary-font);
    text-wrap: balance;
    margin-bottom: 20px;
}
.postDate{
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: .5px;
}
.bannerPoster{
    max-width: 90%;
    margin: 48px auto 0;
    --radius: 20px;
    border: var(--radius) solid var(--white-color);
    border-radius: var(--radius);
    background: var(--white-color);
}
.bannerPoster figure{
    position: relative;
    z-index: 1;
    aspect-ratio: 16/6.5;
    width: 100%;
    overflow: hidden;
    border-radius: var(--radius);
}
.main_content :is(h2, h3, h4){
    font: 600 30px / 1.2 var(--primary-font);
    color: var(--black-color);
}
.skeleton_content :is(h2, h3, h4){
    margin-block: 20px;
}
.skeleton_content h2{
    width: 35%;
}
.skeleton_content h3{
    width: 30%;
}
.skeleton_content h4{
    width: 20%;
}
@media only screen and (max-width: 1399px){
    .heading{
        font-size: 36px;
    }
    .main_content :is(h2, h3, h4){
        font-size: 28px;
    }
}
@media only screen and (max-width: 991px){
    .heading{
        font-size: 32px;
        margin-bottom: 16px;
    }
    .bannerPoster {
        --radius: 10px;
        max-width: 100%;
    }
}
@media only screen and (max-width: 767px){
    .banner{
        padding-top: 60px;
        background: linear-gradient(0deg, transparent 25%, var(--primary-color) 25%, var(--primary-color) 100%);
    }
    .heading {
        font-size: 30px;
        line-height: 1.25;
    }
    .main_content :is(h2, h3, h4){
        font-size: 24px;
    }
}
@media only screen and (max-width: 575px){
    .heading{
        font-size: 28px;
        margin-bottom: 12px;
    }
    .bannerPoster{
        margin-top: 30px;
    }
}
@media only screen and (max-width: 479px){
    .banner{
        padding-top: 40px;
        background: linear-gradient(0deg, transparent 20%, var(--primary-color) 20%, var(--primary-color) 100%);
    }
    .heading{
        font-size: 24px;
        margin-bottom: 8px;
    }
    .postDate{
        font-size: 1em;
    }
    .main_content :is(h2, h3, h4){
        font-size: 22px;
    }
}