.banner{
    position: relative;
    z-index: 1;
    background: linear-gradient(0deg, transparent 35%, var(--primary-color) 35%, var(--primary-color) 100%);
    padding: 80px 0px 0px;
    color: var(--white-color);
}
.bannertext{
    max-width: 780px;
    margin: auto;
    text-align: center;
}
.heading{
    font: 600 40px / 1.1 var(--primary-font);
    text-wrap: balance;
    margin-bottom: 20px;
}
.skeletonHeading {
    height: 40px;
    margin: 0 auto 20px;
}
.postDate{
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: .5px;
}
.bannerPoster{
    max-width: 90%;
    margin: 48px auto 0;
    --radius: 20px;
    border: var(--radius) solid var(--white-color);
    border-radius: var(--radius);
    background: var(--white-color);
}
.bannerPoster figure{
    position: relative;
    z-index: 1;
    height: 440px;
    overflow: hidden;
    border-radius: var(--radius);
}
.main_content :is(h2, h3, h4){
    font: 600 30px / 1.2 var(--primary-font);
    color: var(--black-color);
}
.skeleton_content :is(h2, h3, h4){
    height: 32px;
    margin-block: 20px;
}
.skeleton_content h2{
    width: 35%;
}
.skeleton_content h3{
    width: 30%;
}
.skeleton_content h4{
    width: 20%;
}