/* =============About Section Start============= */
.content{
    color: var(--black-color);
    font-size: 17px;
    max-width: 660px;
}
.content p{
    line-height: 1.8;
}
.aboutTitle{
    font: 700 60px / 1.25 var(--primary-font);
    color: var(--secondary-title-color);
    margin-bottom: 24px;
}
.aboutTitle span{
    display: block;
    font-size: .67em;
}
.supportRow{
    max-width: 600px;
    display: flex;
    gap: 8px;
    margin-top: 48px;
}
.supportBox{
    font-weight: 600;
    font-size: 1.1em;
    display: flex;
}
.supportBox::after{
    content: "";
    background: #d9d9d9;
    width: 1px;
    height: 100%;
    display: block;
    margin: 0 24px;
}
.supportBox:last-child::after{
    display: none;
}
.review{
    font-size: 40px;
    color: var(--secondary-title-color);
    display: flex;
    align-items: center;
    gap: 8px;
    text-shadow: 0 0 currentColor;
    letter-spacing: 1px;
}
.aboutPoster {
    width: 100%;
    padding-top: 85%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}
.aboutPoster::after {
	content: '';
	position: absolute;
	inset: 0;
	background: rgba(31, 88, 203, 0.4);
}
.weAreBrand{
    max-width: 32%;
    position: relative;
    z-index: 1;
    left: 20px;
    bottom: 20px;
}
.videoPopup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    --area: 48px;
    width: var(--area);
    height: var(--area);
    font-size: 20px;
    color: var(--white-color);
    border: 2px solid currentColor;
    display: grid;
    place-items: center;
    border-radius: 100%;
    padding-left: 2px;
    z-index: 2;
    cursor: pointer;
}
.skeltonTitle{
    margin-bottom: 40px;
}
.skeltonTitle * {
    height: 28px;
    width: 75%;
    margin-bottom: 8px;
}
.skeltonTitle div:last-child{
    width: 45%;
}
/* =============About Section Ends============= */

/* =============Call to Action Section Start============= */
.spaceAdd{
    margin-top: 60px;
}
.calltoAction_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px 30px;
    background: var(--primary-background);
    border-radius: 20px;
    box-shadow: 0px 4px 4px #2c2c2c40;
    padding: 40px 48px;
}
.calltoAction_content .title{
    color: #313131;
}
.calltoAction_content .title span{
    display: block;
    color: var(--black-color);
}
/* =============Call to Action Section Ends============= */

@media only screen and (max-width:1600px) {
    .content{
        font-size: 15px;
    }
    .usp ul {
        gap: 8px 10px;
        margin-top: 36px;
    }
    .uspBox{
        gap: 8px;
        font-size: 12px;
        padding: 6px 20px 6px 6px;
    }
    .uspIcon{
        --size: 36px;
        padding: 8px;
    }
    .spaceAdd{
        margin-top: 48px;
    }
    .calltoAction_wrapper{
        padding: 36px 32px;
    }
}
