.reqLeft{
    padding-right: 6px;
    max-width: 95%;
    max-height: 580px;
    overflow: hidden auto;
}
.reqLeft h2{
    font-size: 45px;
    color: var(--black-color);
    padding: 0 0 15px 0;
}
.reqLeft h6{
    font-size: 22px;
    color: #353535;
    padding: 0 0 15px 0;
    margin: 0;
}
.galleryPoster{
    border-radius: 20px;
}
.galleryPoster img{
    border-radius: 20px;
    width: 100%;
}
.requirSec :is(ol, ul) {
	--margin: 12px;
    font-weight: 400;
}
.achivement_content{
    margin-top: 36px;
}
.achivement_title{
    font: 600 22px / 1.25 var(--primary-font);
    color: var(--black-color);
    margin-bottom: 20px;
}
.achivement_data table{
    border: 1px solid rgba(205, 205, 205, 1);
    border-collapse: collapse;
    background: rgba(238, 238, 238, 1);
    color: var(--black-color);
    text-align: center;
    font-size: .92em;
    line-height: 1.25;
}
.achivement_data table :is(td, th){
    padding: 16px 8px;
    border: 1px solid rgba(205, 205, 205, 1);
    width: 20%;
}
.achivement_data table th{
    font-weight: 600;
    text-wrap: balance;
    background: var(--white-color);
    padding-block: 12px;
}
.readmore{
    font-size: 18px;
    font-weight: 600;
    color: var(--black-color);
    cursor: pointer;
    margin-top: 20px;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.readmore svg {
    margin-left: 3px;
}
.readmore:hover{
    color: var(--primary-color);
}