@media only screen and (max-width:1600px) {
	.sectionArea{
		margin-block: 60px;
	}
	.heading{
		font-size: 42px;
	}
	.title{
		font-size: 32px;
	}
	.titleTag{
		font-size: 30px;
		margin-bottom: 12px;
	}
	.subheading{
		font-size: 24px;
	}
	.subtitle{
		font-size: 20px;
	}
    .learnMore{
        font-size: 16px;
    }
	.btn_left, .btn_center {
		margin-top: 40px;
	}
	:is(.btn_left, .btn_center).sm {
		margin-top: 24px;
	}
	[class*="eclick-btn-"]{
		font-size: 14px;
		--size:40px;
		--padding: 20px;
	}
	[class*="eclick-btn-"].lg {
		--size: 48px;
		font-size: 16px;
		--padding: 24px;
	}
	.swiper-pagination-bullet {
		--size: 10px;
	}
	.skeletonDot{
		width: 100px;
	}
}
@media only screen and (max-width:1399px) {
	body{
		font-size: 15px;
	}
	.section-content{
		margin-bottom: 36px;
	}
	.heading{
		font-size: 36px;
		margin-bottom: 20px;
	}
	:is(.heading, .titleTag)::after {
		width: 80px;
		height: 2px;
		margin-top: 8px;
	}
	.title{
		font-size: 28px;
		margin-bottom: 16px;
	}
	.subheading{
		font-size: 20px;
	}
	.subtitle{
		font-size: 18px;
	}
    .learnMore{
        font-size: 15px;
    }
	[class*="eclick-btn-"]{
		--size:40px;
	}
	[class*="eclick-btn-"].lg {
		font-size: 15px;
	}
	[class*="eclick-btn-"].sm {
		--size: 36px;
		--padding: 12px;
		font-size: 13px;
	}
	.gallerySwiper .swiper-pagination {
		width: 28px !important;
		height: 80px !important;
		right: 4px !important;
	}
	.alert{
		padding: 12px;
	}
}
@media only screen and (max-width: 1199px){
	.header_wrap{
		min-height: 72px;
	}
	.sticky {
		margin-top: 72px;
	}
	.title{
		font-size: 30px;
	}
	.swiper-pagination{
		margin-top: 40px;
	}
	.skeletonDot{
		width: 80px;
	}
	.pagination{
		margin-top: 30px;
	}
}
@media only screen and (max-width: 991px){
	.sectionArea {
		margin-block: 50px;
	}
	.form-control {
		--height: 44px;
		padding: 8px 12px;
		font-size: 15px;
	}
	.react-select__control{
		height: 44px;
	}
	.react-select__value-container{
		padding-left: 12px;
	}
	select.form-control{
		background-position-y: 10px;
	}
	.btn_left, .btn_center{
		margin-top: 30px;
	}
	:is(.btn_left, .btn_center).sm {
		margin-top: 20px;
	}
	:is(.heading, .titleTag)::after{
		width: 72px;
	}
	.heading{
		font-size: 32px;
		margin-bottom: 16px;
	}
	.title{
		font-size: 28px;
	}
	[class*="eclick-btn-"] {
		font-size: 13px;
	}
	.gallerySwiper .swiper-wrapper{
		height: calc(100% - 48px);
	}
	.gallerySwiper .swiper-pagination {
		flex-direction: row;
		width: auto !important;
		height: auto !important;
		position: static !important;
		transform: none !important;
		margin: 16px auto 0 !important;
		max-width: max-content;
	}
	.swiper-pagination {
		margin-top: 30px;
	}
	.sliderdiv .swiper-wrapper {
		padding-block: 30px;
	}
	.scheduleModal .modal-dialog {
		max-width: calc(100% - 24px);
	}
	.modelButton{
		padding: 10px;
	}
}
@media only screen and (max-width: 767px){
	[class*="eclick-btn-"].lg {
		font-size: 14px;
		--size: 44px;
		--padding: 20px;
	}	
	[class*="eclick-btn-"].sm {
		font-size: 12px;
	}
	.titleTag{
		font-size: 26px;
	}
	:is(.heading, .titleTag)::after{
		width: 60px;
	}
	.section-content {
		margin-bottom: 30px;
	}
	.skeletonDot{
		width: 70px;
	}
	.sliderdiv .swiper-wrapper {
		padding-block: 0px;
	}
	.small_title{
		margin-bottom: 4px;
	}
	.btn_wrap{
		flex-wrap: wrap;
	}
	.pagination{
		margin-top: 24px;
	}
	.pagination .page-link{
		font-size: 14px;
	}
}
@media only screen and (max-width: 575px){
	.swiper-pagination-bullet {
		--size: 8px;
	}
	body{
		font-size: 14px;
	}
	.swiper-pagination {
		margin-top: 24px;
	}
	.sectionArea {
		margin-block: 40px;
	}
	.section-content {
		margin-bottom: 30px;
	}
	.alert{
		padding: 8px;
	}
}
@media only screen and (max-width: 479px){
	.header_wrap {
		min-height: 60px;
	}
	.sticky {
		margin-top: 60px;
	}
	[class*="eclick-btn-"].lg {
		--size: 40px;
		font-size: 13px;
	}
	.sectionArea {
		margin-block: 30px;
	}
	.heading{
		font-size: 28px;
	}
	:is(.heading, .titleTag)::after {
		width: 50px;
	}
	.title{
		font-size: 24px;
		margin-bottom: 12px;
	}
	[class*="eclick-btn-"] {
		--size: 36px;
		font-size: 12px;
	}
	.skeletonDot{
		width: 60px;
	}
	.form-control{
		--height: 40px;
		font-size: 14px;
	}
	select.form-control{
		background-size: 17px;
	}
	textarea.form-control{
		height: 90px;
	}
	.react-select__control{
		height: 40px;
	}
	.section-content {
		margin-bottom: 24px;
	}
	.btn_left, .btn_center{
		margin-top: 24px;
	}
	.small_title{
		font-size: 1em;
	}
	.gallerySwiper .swiper-pagination{
		margin-top: 12px !important;
	}
}