@media only screen and (max-width:1600px) {
	.sectionArea{
		margin-block: 60px;
	}
	.heading{
		font-size: 42px;
	}
	.title{
		font-size: 32px;
	}
	.subheading{
		font-size: 24px;
	}
	.subtitle{
		font-size: 20px;
	}
    .learnMore{
        font-size: 16px;
    }
	.btn_left, .btn_center {
		margin-top: 40px;
	}
	:is(.btn_left, .btn_center).sm {
		margin-top: 24px;
	}
	[class*="eclick-btn-"]{
		font-size: 14px;
		--size:40px;
	}
	[class*="eclick-btn-"].lg {
		--size: 48px;
		font-size: 16px;
		--padding: 24px;
	}
	.swiper-pagination-bullet {
		--size: 10px;
	}
}
@media only screen and (max-width:1399px) {
	body{
		font-size: 15px;
	}
	.section-content{
		margin-bottom: 36px;
	}
	.heading{
		font-size: 36px;
	}
	:is(.heading, .titleTag)::after {
		width: 80px;
		height: 2px;
		margin-top: 8px;
	}
	.title{
		font-size: 28px;
	}
	.subheading{
		font-size: 20px;
	}
	.subtitle{
		font-size: 18px;
	}
    .learnMore{
        font-size: 15px;
    }
	[class*="eclick-btn-"]{
		--size:40px;
	}
	[class*="eclick-btn-"].lg {
		font-size: 15px;
	}
	.swiper-pagination-bullet {
		--size: 8px;
	}
}