.box {
    border: 1px solid rgba(215, 215, 215, 1);
    border-radius: 10px;
    padding: 40px 30px;
    text-align: center;
    min-height: 100%;
    display: grid;
    align-content: center;
    transition: all .3s ease-in-out;
}
.box:hover {
    background: var(--primary-background);
    border-color: var(--primary-background);
    transform: translateY(-4px);
}
.icon {
    --size: 48px;
    width: var(--size);
    height: var(--size);
    position: relative;
    margin: 0 auto 12px;
}
.boxtitle {
    font-size: 1.1em;
    font-weight: 500;
}
.processSection{
    position: relative;
    z-index: 1;
    padding-block: 90px;
    background: var(--primary-background);
}
.listView ul{
    list-style: none;
    padding: 0;
    max-width: 930px;
    margin: 100px auto 0;
    display: flex;
    flex-flow: column wrap;
    row-gap: 40px;
    position: relative;
    z-index: 1;
}
.listView ul::after{
    content: "";
    background: #d9d9d9;
    width: 2px;
    height: 100%;
    position: absolute;
    top: -36px;
    left: 50%;
    transform: translateX(-50%);
    margin-inline: auto;
}
.listbox{
    --size: 70px;
    width: calc(50% - (-.5 * var(--size)));
    margin-left: auto;
    display: flex;
    align-items: start;
    gap: 24px;
    font-size: 1.1em;
}
.listbox:nth-child(even){
    margin: 0;
    text-align: end;
    flex-direction: row-reverse;
}
.listbox:nth-child(even) .skeletonText *{
    margin-left: auto;
}
.radiusIcon {
    width: var(--size);
    height: var(--size);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
    width: var(--size);
    height: var(--size);
    display: grid;
    place-items: center;
    border-radius: 100%;
    border: 5px solid var(--white-color);
    background: var(--primary-background);
    flex-shrink: 0;
    position: relative;
}
.radiusIcon img{
    max-width: calc(var(--size) / 1.84 );
    max-height: calc(var(--size) / 1.84 );
    object-fit: contain;
    margin: auto;
}