.valuesArea{
    position: relative;
    z-index: 1;
    padding-block: 90px;
    background: var(--primary-background);
}
.title > *{
    display: block;
    color: var(--black-color);
}
.cardsRow{
    --size: 146px;
    margin-top: var(--size);
    row-gap: calc(calc(var(--size) / 4) * 3 );
}
.box {
    background: var(--white-color);
    color: var(--tertiary-color);
    border: 1px solid rgba(215, 215, 215, 1);
    border-radius: 10px;
    padding: 0px 20px 24px;
    text-align: center;
    min-height: 100%;
    display: grid;
    align-content: center;
    transition: all .3s ease-in-out;
}
.box:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white-color);
    transform: translateY(-4px);
}
.icon {
    width: var(--size);
    height: var(--size);
    background: rgba(248, 248, 248, 1);
    border: 4px solid rgba(215, 215, 215, 1);
    border-radius: 100%;
    position: relative;
    margin: calc(-.5 * var(--size)) auto 24px;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.icon img{
    padding: calc(var(--size) / 4.15);
    object-fit: contain;
}
.box:hover .icon,
.processBox:hover .icon{
    background: var(--primary-color);
    border-color: var(--white-color);
}
.box:hover .icon img,
.processBox:hover .icon img{
    filter: brightness(0) invert(1);
}
.boxtitle {
    font: 600 1.25em / 1.25 var(--primary-font);
    text-wrap: balance;
    max-width: 180px;
    color: inherit;
    margin: 0 auto;
}
.processStep{
    --size: 100px;
    position: relative;
}
.processLine{
    --area: 6px;
    position: absolute;
    top: calc(.5 * var(--size));
    inset-inline: 0px;
    height: 2px;
    background: rgba(208, 208, 208, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.processLine::after,
.processLine::before{
    content: '';
    flex-shrink: 0;
    width: var(--area);
    height: var(--area);
    background: rgba(208, 208, 208, 1);
    border-radius: 100%;
}
.processBox{
    text-align: center;
    padding-inline: 10px;
    font-size: 16px;
    line-height: 1.4;
}
.processBox .icon {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: var(--size);
    height: var(--size);
    display: grid;
    place-items: center;
    margin: 0 auto 24px;
    border: 6px solid var(--white-color);
    background: var(--primary-background);
    flex-shrink: 0;
}
.process_title{
    font-size: 19px;
    line-height: 1.1em;
    color: var(--black-color);
    margin-bottom: 12px;
}
.processBox p{
    margin-top: auto;
    line-height: inherit;
}
@media only screen and (max-width:1600px) {
    .cardsRow{
        --size: 112px;
    }
    .boxtitle{
        max-width: 100%;
        font-size: 16px;
    }
}