.skeletonTitle{
    width: 360px;
    height: 50px;
}
.skeletonButton{
    width: 160px;
    height: 44px;
    border-radius: 2rem;
}
.tabs ul{
    display: flex;
    justify-content: space-between;
    gap: 16px 32px;
    border-bottom: 2px solid rgb(255, 255, 255, 25%);
}
.tabs li{
    flex: 1;
    border-radius: 2rem;
    height: 50px;
}
.gap{
    margin-top: 50px;
}
.poster{
    width: 100%;
    height: 400px;
}
.posterTitle{
    width: 50%;
    height: 32px;
    margin-bottom: 20px;
}