.section_wrapper{
    background: var(--primary-color);
    color: var(--white-color);
    padding: 60px;
    border-radius: 20px;
}
.tabs{
    margin-bottom: 48px;
}
.tabs ul{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    border-bottom: 2px solid rgb(255, 255, 255, 25%);
}
.tabItem{
    font-size: 20px;
    color: rgb(255, 255, 255, 65%);
    padding: 12px 4px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.tabItem::after{
    content: '';
    position: absolute;
    background: var(--white-color);
    bottom: -2px;
    inset-inline: 0;
    width: 0%;
    height: 2px;
    transition: all 300ms ease-in-out;
}

.tabItem.active, .tabItem:hover{
    color: var(--white-color);
}
.tabItem.active::after, .tabItem:hover::after{
    width: 100%;
}

/* Box */
.rowList {
	background: var(--white-color);
	border-radius: 20px;
	gap: 10px;
	padding: 16px;
}
.card{
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    gap: var(--gap);
    color: #707070;
    font-size: 16px;
}
.card aside{
    padding-left: 20px;
}
.card p{
    height: 3lh;
    overflow: hidden;
}
.boxTitle{
    color: var(--black-color);
    margin: 0 0 12px 0;
    font-size: 24px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px 12px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.card ul:has(li:only-child){
    grid-template-columns: inherit;
}
.card li{
    position: relative;
    margin-bottom: 0;
    padding-right: 6px;
}
.card li:after{
    content: "";
    position: absolute;
    right: -2px;
    inset-block: 0;
    border-right: 1px solid #D9D9D9;
}
.card ul li:last-child:after{
    display: none;
}
.card li span{
    font-size: 0.9em;
    display: block;
}
.card li em{
    color: var(--black-color);
    display: block;
}
.cardPoster{
    position: relative;
    padding-top: 88%;
    border-radius: 10px;
    overflow: hidden;
}
.listTarget{
    margin: 15px 0 0 0;
}
.listTarget a{
    color:var(--black-color);
    font-weight: 600;
    gap: 5px;
    display: flex;
    align-items: start;
}
.listTarget a svg{
    margin-top: 5px;
}
@media only screen and (max-width: 1600px) {
    .tabItem{
        font-size: 18px;
    }
    .card{
        font-size: 13px;
    }
    .boxTitle{
        font-size: 22px;
        margin-bottom: 6px;
    }
}
@media only screen and (max-width: 1399px){
    .section_wrapper{
        padding: 40px 36px;
    }
    .tabItem{
        font-size: 16px;
    }
    .card{
        font-size: 12px;
    }
    .boxTitle{
        font-size: 20px;
        margin-bottom: 4px;
    }
}