.section_wrapper{
    background: var(--primary-color);
    color: var(--white-color);
    padding: 60px;
    border-radius: 20px;
}
.tabs ul{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    border-bottom: 2px solid rgb(255, 255, 255, 25%);
}
.tabItem{
    font-size: 20px;
    color: rgb(255, 255, 255, 65%);
    padding: 12px 4px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.tabItem::after{
    content: '';
    position: absolute;
    background: var(--white-color);
    bottom: -2px;
    inset-inline: 0;
    width: 0%;
    height: 2px;
    transition: all 300ms ease-in-out;
}

.tabItem.active, .tabItem:hover{
    color: var(--white-color);
}
.tabItem.active::after, .tabItem:hover::after{
    width: 100%;
}

/* Box */
.smallList{
    margin: 50px 0px 0px;
}
.rowList{
    background: var(--white-color);
    border-radius: 20px; 
    padding: 16px;
    gap: 10px;
}
.rowList aside{
    padding-right: 16px;
    color: #707070;
}
.boxTitle{
    color: var(--black-color);
    margin: 0 0 15px 0;
    font-size: 27px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.smallList ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px 12px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.smallList ul:has(li:only-child){
    grid-template-columns: inherit;
}
.smallList li{
    color: var(--black-color);
    position: relative;
    margin-bottom: 0;
    padding-right: 6px;
}
.smallList li:after{
    content: "";
    position: absolute;
    right: -2px;
    inset-block: 0;
    border-right: 1px solid #D9D9D9;
}
.smallList ul li:last-child:after{
    display: none;
}
.smallList li span{
    font-size: 14px;
    color: #707070;
    display: block;
}
.smallList figure{
    position: relative;
    padding-top: 80%;
}
.smallList figure img{
    border-radius: 16px;
}
.rowList aside p{
    height: 4lh;
    overflow: hidden;
}
.listTarget{
    margin: 15px 0 0 0;
}
.listTarget a{
    color:var(--black-color);
    font-weight: 600;
    gap: 5px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1600px) {
    .boxTitle{
        font-size: 22px;
        margin-bottom: 6px;
    }
    .tabItem{
        font-size: 18px;
    }
    .rowList{
        border-radius: 12px;
    }
    .smallList figure img {
        border-radius: 8px;
    }
    .rowList aside{
        font-size: 13px;
    }
}
@media only screen and (max-width: 1399px){
    .section_wrapper{
        padding: 40px 36px;
    }
    .tabItem{
        font-size: 16px;
    }
    .rowList aside{
        font-size: 12px;
    }
    .boxTitle{
        font-size: 20px;
    }
}