.cmsBanner{
    padding: 50px 0;
    min-height: 390px;
    display: grid;
    align-items: center;
    font-size: 1.1em;
    letter-spacing: 0.5px;
    position: relative;
    z-index: 1;
}
.cmsBanner::after{
    content: '';
    position: absolute;
    inset: 0;
    background: var(--primary-color);
    z-index: -1;
    clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
    width: 58vw;
}
.bannerText{
    max-width: 480px;
}
.bannerTitle{
    font-size: 48px;
}
.tabList ul{
    --round: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: max-content;
    margin: 0 auto 80px;
    background: #f5f5f5;
    color: rgb(64, 64, 64);
    font-weight: 600;
    font-size: 16px;
    border-radius: var(--round);
    padding: 8px;
}
.tabItem{
    min-width: 200px;
    padding: 14px 24px;
    border-radius: var(--round);
    text-align: center;
    cursor: pointer;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.tabItem.active{
    background: var(--primary-color);
    color: var(--white-color);
}
.cardPoster{
    position: relative;
    border-radius: 8px;
    border: 1px solid #f7f7f7;
    padding-top: 56.25%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.cardPoster img{
    width: auto !important;
    height: auto !important;
    object-fit: contain;
    margin: auto;
}
.videoIcon{
    --size: 48px;
    width: var(--size);
    height: var(--size);
    background: #ff0000;
    color: var(--white-color);
    display: grid;
    place-items: center;
    border-radius: 100%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    padding-left: 2px;
}
.cardText{
    font-size: 16px;
    padding: 16px 12px;
}
.cardTitle{
    font: 600 24px / 1.25 var(--primary-font);
    margin-bottom: 8px;
    color: var(--primary-color);
}
.designation{
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #a49999;
    letter-spacing: 0.3px;
}
/* .testmonial_paragraph {
    height: 6lh;
    overflow: hidden auto;
    line-height: 1.7;
    padding-right: 8px;
}
.testmonial_paragraph p{
    line-height: inherit;
} */
.cardRow{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
    overflow: hidden;
}
.cardRow .cardText {
    font-size: 18px;
}
.tag{
    background: var(--primary-color);
    color: var(--white-color);
    display: inline-block;
    vertical-align: middle;
    padding: 8px 16px;
    font: 500 15px / 1 var(--primary-font);
    border-radius: 24px;
    margin-bottom: 16px;
}
.cardRow .cardTitle{
    font-size: 42px;
    font-weight: 700;
}
/* .cardRow .testmonial_paragraph{
    height: 6lh;
    line-height: 1.8;
} */
.videoContainer iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 9/6;
}
@media only screen and (max-width: 1600px) {
    .cardTitle{
        font-size: 20px;
    }
    .cardText{
        font-size: 14px;
    }
    .cardRow .cardTitle{
        font-size: 32px;
    }
    .tag{
        font-size: 13px;
        padding: 6px 15px;
    }
}