.cmsBanner{
    padding: 50px 0;
    min-height: 390px;
    display: grid;
    align-items: center;
    font-size: 1.1em;
    letter-spacing: 0.5px;
    position: relative;
    z-index: 1;
}
.cmsBanner::after{
    content: '';
    position: absolute;
    inset: 0;
    background: var(--primary-color);
    z-index: -1;
    clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
    width: 58vw;
}
.bannerText{
    max-width: 480px;
}
.bannerTitle{
    font-size: 48px;
}
.containerWrapper{
    max-width: 1200px;
    margin: 0 auto;
}
.tabList ul{
    --round: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: max-content;
    margin: 0 auto 80px;
    background: #f5f5f5;
    color: rgb(64, 64, 64);
    font-weight: 600;
    font-size: 16px;
    border-radius: var(--round);
    padding: 8px;
}
.tabItem{
    min-width: 200px;
    padding: 14px 24px;
    border-radius: var(--round);
    text-align: center;
    cursor: pointer;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.tabItem.active{
    background: var(--primary-color);
    color: var(--white-color);
}
.card figcaption{
    border-radius: 8px;
    border: 1px solid rgba(229, 229, 229, 1);
    position: relative;
}
.cardPosterDesignText{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
}
.posterData{
    --leave: 36px;
    background: linear-gradient(180deg, #1E58CA 0%, #0F2C64 100%);
    color: var(--white-color);
    padding: 12px var(--leave) 12px 8px;
    font-size: 15px;
    line-height: normal;
    text-align: right;
    display: grid;
    align-content: center;
    position: relative;
}
.cardItem:nth-child(even) .posterData{
    order: 1;
    padding-inline: var(--leave) 12px;
    text-align: start;
}
.brandLogo{
    object-fit: contain;
    position: absolute;
    bottom: 12px;
    right: var(--leave);
}
.cardItem:nth-child(even) .brandLogo{
    left: var(--leave);
}
.ownerName{
    display: block;
    font-size: 1.75em;
    line-height: 1;
    font-weight: 600;
    margin-block: 12px 8px;
}
.projectName{
    font-size: 1.25em;
}
.cardPoster{
    position: relative;
    min-height: 240px;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.logo{
    width: auto !important;
    height: auto !important;
    object-fit: scale-down;
    margin: auto;
    max-width: 80%;
}
.icon{
    --size: 48px;
    width: var(--size);
    height: var(--size);
    color: var(--white-color);
    background: #ff0000;
    display: grid;
    place-items: center;
    border-radius: 100%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    cursor: pointer;
}
.cardPosterDesign .icon{
    padding-left: 2px;
}
.cardText{
    font-size: 16px;
    padding: 16px 12px;
}
.cardTitle{
    font: 600 24px / 1.25 var(--primary-font);
    margin-bottom: 8px;
    color: var(--black-color);
}
.designation{
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #a49999;
    letter-spacing: 0.3px;
}
@media only screen and (max-width: 1600px) {
    .cardTitle{
        font-size: 20px;
    }
    .cardText{
        font-size: 14px;
    }
}