.banner{
  background: var(--primary-background);
  position: relative;
  z-index: 1;
  min-height: 450px;
  padding-block: 120px;
  font-size: 1.1em;
  color: var(--black-color);
}
.banner::after{
  content: '';
  position: absolute;
  inset: 0;
  background: url(./bulb-line.png) no-repeat left center;
  background-size: contain;
  z-index: -1;
}
.bannertext{
  text-align: center;
  max-width: 540px;
  margin: auto;
}
.bannerContent{
  max-width: 360px;
  margin: auto;
}
.heading{
  font: 500 50px / 1.2 var(--primary-font);
  margin-bottom: 16px;
}
.card {
  background: var(--white-color);
  border-radius: 10px;
  overflow: hidden;
  padding-top: 4px;
  min-height: 100%;
  transition: all 0.3s ease;
}
.imageWrapper {
  position: relative;
  width: 100%;
  padding-top: 55%;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.cardImage {
  transition: transform 0.3s ease;
  border-radius: 10px;
}
.card:hover .cardImage {
  transform: scale(1.05);
  border-radius: 0px;
}
.cardBody {
  padding: 10px;
  text-align: left;
}
.meta {
  display: flex;
  align-items: center;
  color: #3a3a3a;
  font-size: 0.85rem;
  margin-bottom: 4px;
}
.meta span{
  position: relative;
  z-index: 1;
}
.meta span:not(:first-child)::before{
  content: '|';
  display: inline-block;
  vertical-align: top;
  margin: 0px 6px;
}
.cardTitle {
  font: 600 1.1rem / 1.45 var(--primary-font);
  color: var(--black-color);
  margin-bottom: 8px;
}
.cardText {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 16px;
}
/* ====== Sidebar========= */
.sidebar{
  display: grid;
  row-gap: 16px;
  padding-left: 16px;
}
.widget{
  position: relative;
  z-index: 1;
}
.widget_title{
  font: 600 24px / 1.2 var(--secondary-font);
  color: var(--black-color);
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}
.widget_title::after {
	content: "";
	background: linear-gradient(90deg, var(--primary-color) 60%, transparent 60%, transparent 65%, var(--primary-color) 66%, var(--primary-color) 80%, transparent 80%, transparent 85%, var(--primary-color) 86%, var(--primary-color) 100%);
	border-radius: 10px;
	width: 72px;
	height: 2px;
	margin-top: 8px;
	display: block;
}
.widget ul{
  max-height: 440px;
  overflow: hidden auto;
}
.searchBox{
  margin-bottom: 20px;
  position: relative;
}
.formInput{
  padding-right: 48px;
}
.searchBtn{
  background: transparent !important;
  border: none;
  outline: none;
  box-shadow: none;
  color: var(--primary-title-color);
  font-size: 20px;
  position: absolute;
  top: 2px;
  right: 6px;
  padding: 8px;
  z-index: 5;
}