.caseTitle {
	font: 500 20px / 1.25 var(--primary-font);
	color: rgb(99, 99, 99);
	display: inline-block;
	border-bottom: 2px solid rgb(217, 217, 217);
	padding-bottom: 8px;
	margin-bottom: 24px;
}
.business_data ul{
    display: flex;
    flex-wrap: wrap;
    gap: 12px 6px;
}
.business_data li{
    border: 1px solid rgba(195, 195, 195, 1);
    color: var(--black-color);
    padding: 8px 24px;
    font-size: 15px;
    border-radius: 48px;
}
.initial_challenges ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 16px;
}