.sectionArea {
    padding: 90px 0px;
    background: var(--primary-background);
    overflow: hidden;
}
.section_content {
    max-width: 90%;
}
.cardWrapper {
    margin-top: 48px;
}
.cardBox {
    display: grid;
    row-gap: 12px;
}
.card {
    border-radius: 10px;
    overflow: hidden;
    background: var(--primary-color);
    color: var(--white-color);
}
.accordionTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 20px 20px 30px;
    color: inherit;
    margin-bottom: 0;
    cursor: pointer;
    background: transparent;
    border: none;
    width: 100%;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.icon {
    --size: 40px;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    align-self: flex-start;
    width: var(--size);
    height: var(--size);
    border-radius: 100%;
    background: var(--white-color);
    color: var(--primary-title-color);
    padding: 8px;
    font-size: 14px;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.iconRotated {
    transform: rotate(90deg);
    background: var(--primary-color);
    color: var(--white-color);
}
.activeCard {
    background: var(--white-color);
    color: var(--body-color);
}
.activeCard .accordionTitle {
    pointer-events: none;
}
.accordionContent {
    padding: 20px 30px 30px;
    padding-top: 0;
    font-size: 1.1em;
}
.learnMore {
    color: #1B1B1B;
    text-decoration: none;
}
/* --- Image Section --- */
.galleryBackground {
    position: relative;
    width: 50vw;
    --round: 20px;
    max-width: 960px;
    border-radius: 0px 0px 0px;
    border-radius: var(--round);
    overflow: hidden;
    padding: 20px;
    --rightArea: 80px;
    --height: 680px;
    height: var(--height);
}
.grayscale {
    opacity: .4;
}
.gallerySwiper {
    height: calc(var(--height) - 40px);
    margin: 0;
}
.imageWrapper {
    width: calc(100% - var(--rightArea));
    height: 100%;
    border-radius: var(--round);
    overflow: hidden;
    position: relative;
    border: 5px solid var(--white-color);
}
.imageWrapper img {
    object-fit: cover;
}
@media only screen and (max-width: 1600px) {
    .icon {
        --size: 36px;
    }
    .accordionTitle {
        padding: 16px 16px 16px 20px;
        font-size: 15px;
    }
    .imageWrapper {
        padding-top: 85%;
    }
    .accordionContent {
        font-size: 0.92em;
    }
    .learnMore {
        font-size: 0.95em;
    }
    .icon {
        --size: 30px;
        font-size: 11px;
    }
}
@media only screen and (max-width: 1399px) {
    .imageWrapper {
        padding-top: 97%;
    }
}