.sectionArea{
  padding: 90px 0px;
  background: var(--primary-background);
}
.section_content{
  max-width: 90%;
}
.cardWrapper {
  margin-top: 48px;
}
.cardBox{
  display: grid;
  row-gap: 12px;
}
.card {
  border-radius: 10px;
  overflow: hidden;
  background: var(--primary-color);
  color: var(--white-color);
}
.accordionTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 20px 20px 30px;
  color: inherit;
  margin-bottom: 0;
  cursor: pointer;
  background: transparent;
  border: none;
  width: 100%;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.icon{
  --size: 40px;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  align-self: flex-start;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  background: var(--white-color);
  color: var(--primary-title-color);
  padding: 8px;
  font-size: 14px;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.iconRotated {
  transform: rotate(90deg);
  background: var(--primary-color);
  color: var(--white-color);
}
.activeCard {
  background: var(--white-color);
  color: var(--body-color);
}
.activeCard .accordionTitle{
pointer-events: none;
}
.accordionContent{
  padding: 20px 30px 30px;
  padding-top: 0;
  font-size: 1.1em;
}
.learnMore{
  color: #1B1B1B;
  text-decoration: none;
}
/* --- Image Section --- */
.imageWrapper {
  width: 100%;
  padding-top: 81%;
  overflow: hidden;
  position: relative;
}
.image {
  object-fit: cover;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 1600px) {
  .icon{
    --size: 36px;
  }
  .accordionTitle {
    padding: 16px 16px 16px 20px;
    font-size: 15px;
  }
  .imageWrapper{
    padding-top: 85%;
  }
  .accordionContent {
    font-size: 0.92em;
  }
  .learnMore {
    font-size: 0.95em;
  }
  .icon {
    --size: 30px;
    font-size: 11px;
  }
}
@media only screen and (max-width: 1399px) {
  .imageWrapper{
    padding-top: 97%;
  }
}