.hwdsbox{
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #ffffff;
    padding: 33px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.technologyIcon{
    padding: 0;
    width: 60px;
    height: 47px;
    margin-bottom: 12px;
}
figure.technologyIcon{
    background: transparent;
}
.technologyIcon img{
    object-fit: contain;
}
.hwdsboxh{
    font-size: 23px;
    line-height: 30px;
    font-weight: 500;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 17px;
}
.hwdsboxp{ 
    font-weight: 400; 
    font-size: 17px; 
    line-height: 30px; 
    text-transform: capitalize; 
    margin-bottom: 25px;
    flex-grow: 1;
}
.btnhwdsbx_btn{
  background: #1f58cb;
  display: inline-block;
  color: #ffffff;
  text-transform: capitalize;
  padding: 6px 16px;
  border-radius: 5px;
} 
.btnhwdsbx_btn:hover{
    background: #111111;
    color: #ffffff;
}