.aboutPoster{
    aspect-ratio: 4/3;
    padding: 0;
}
.referralSectionsam{
    background: linear-gradient(90deg, var(--primary-color) 50%, #ededed 50%, #ededed 100%);
}
.referralContent{
    --paddingX: 36px;
    --paddingY: 72px;
    padding: var(--paddingY) 0px var(--paddingY) var(--paddingX);
    font-size: 1.1em;
    color: var(--black-color);
}
.referralContentWhite{
    color: var(--white-color);
    padding-inline: 0px var(--paddingX);
}
.referralContentWhite :is(.sectionTitle, .small_title){
    color: inherit;
}
.hwdtilte {
    font: 500 45px / 1.2 var(--primary-font);
    color: var(--black-color);
    text-transform: capitalize;
    margin-bottom: 24px;
}
.hwdtiltepara {
    width: 75%;
    color: #2C2C2C;
    font-size: 17px;
    line-height: 1.8;
    text-transform: capitalize;
}

@media only screen and (max-width: 1600px) {
    .hwdtilte {
        font-size: 40px;
        margin-bottom: 16px;
    }
}

@media only screen and (max-width: 1399px) {
    .hwdtiltepara{
        font-size: 16px;
    }
    .referralContent{
        --paddingY: 56px;
        --paddingX: 24px;
    }
}
@media only screen and (max-width: 1199px) {
    .hwdtilte{
        font-size: 36px;
    }
    .referralContent{
        --paddingX: 20px;
    }
}
@media only screen and (max-width: 991px){
    .hwdtilte {
        font-size: 32px;
        text-wrap: balance;
        width: 100%;
    }
    .hwdtiltepara{
        width: 100%;
    }
    .referralSectionsam{
        background: #ededed;
    }
    .referralContent {
        padding: 40px 20px;
        width: 100vw;
        position: relative;
        inset-inline: 50%;
        margin: 0px -50vw;
    }
    .referralContentWhite{
        background: var(--primary-color);
    }
    .referralContentInner{
        max-width: 696px;
        margin: auto;
    }
}
@media only screen and (max-width: 767px){
    .referralContentInner{
        max-width: 516px;
    }
}
@media only screen and (max-width: 575px){
    .hwdtilte {
        font-size: 28px;
    }
    .hwdtiltepara{
        font-size: 1em;
    }
    .referralContent{
        padding: 30px 16px;
    }
}
@media only screen and (max-width: 479px){
    .hwdtilte {
        font-size: 24px;
    }
}
