.sectionArea{
    padding-block: 70px;
    background: var(--primary-color);
    position: relative;
    z-index: 1;
}
.sectionArea::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: url(../../../public/assets/images/dot-shape.png) no-repeat center top;
    opacity: .25;
}
.sectionArea hr{
    color: var(--white-color);
}
.tabWrapper{
    display: grid;
    grid-template-columns: repeat(1, 3fr 12fr);
    align-items: center;
    margin-top: 70px;
}
.navigation ul{
    display: grid;
    row-gap: 10px;
}
.navLink{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px 4px 20px 20px;
    font: 600 17px / 1.15 var(--secondary-font);
    background: var(--hover-color);
    color: var(--white-color);
    border-radius: 50px 0px 0px 50px;
    cursor: pointer;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.navIcon{
    --size: 32px;
    position: relative;
    width: var(--size);
    height: var(--size);
}
.navIcon img{
    flex-shrink: 0;
    filter: brightness(0) invert(1);
    max-height: var(--size);
}
.activeLink{
    background: var(--white-color);
    color: var(--heading-color);
}
.activeLink img{
    filter: brightness(0);
}
.tabContent{
    background: #1949A9;
    padding: 60px;
    border-radius: 16px;
    font-size: 1.4em;
}
.poster{
    position: relative;
    padding-top: 100%;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
}
.icon{
    position: relative;
    --size: 84px;
    width: var(--size);
    height: var(--size);
    margin-bottom: 30px;
}
.tabContent .heading{
    font-weight: 600;
}
.tabContent .heading::after{
    display: none;
}
.tabContent .auditBtn:hover{
    background: #ccc;
    color: var(--black-color);
}

@media only screen and (max-width: 1600px) {
    .sectionArea{
        padding-block: 100px;
    }
    .tabWrapper{
        margin-top: 50px;
    }
    .navLink {
        font-size: 15px;
        padding: 16px 4px 16px 20px;
    }
    .navIcon{
        --size: 24px
    }
    .tabContent {
        padding: 40px;
        font-size: 1.2em;
    }
    .icon {
        --size: 72px;
        margin-bottom: 20px;
    }
    .heading{
        font-size: 36px;
    }
}
@media only screen and (max-width: 1399px) {
    .navLink {
        font-size: 13px;
        padding-block: 14px;
    }
    .navIcon{
        --size: 20px
    }

}