.spaceAdd{
    margin-top: 60px;
}
.calltoAction_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px 30px;
    background: var(--primary-background);
    border-radius: 20px;
    box-shadow: 0px 4px 4px #2c2c2c40;
    padding: 40px 48px;
    min-height: 180px;
}
.calltoAction_content .title{
    color: #313131;
}
.calltoAction_content .title *{
    display: block;
    color: var(--black-color);
    font-weight: inherit;
}
.skeletonTitle{
    height: 46px;
}