.hiredevsec {
    padding: 70px 0;
}
.mainboxhiretable {
    display: flex;
    border: 1px solid #f9f9f9;
}
.singleboxhiretable {
    width: 25%;
    text-align: center;
}
.singleboxhiretable:nth-child(2) {
    box-shadow: 0 0 16px 10px #00000024;
    z-index: 2;
}
.mainboxhiretable ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.mainboxhiretable ul li {
    list-style: none;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 1.5;
    color: var(--black-color);
    padding: 6px 10px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}
.mainboxhiretable ul li:nth-child(odd) {
    background: #F3F7FA;
}
.tablelist {
    margin: 0;
    padding: 0;
}
.tablehireheading {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: var(--black-color);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.tablehireheading:hover{
    background: var(--primary-background);
}
.singleboxhiretable:nth-child(2) .tablehireheading {
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 22px;
    line-height: 30px;
}
.hdtilte {
    text-align: center;
    font-size: 45px;
    line-height: 1.2;
    color: var(--black-color);
    font-weight: 400;
    text-transform: capitalize;
}
.hdtilte strong {
    display: block;
    font-size: 1.25em;
    color: #282828;
    font-weight: 600;
}
@media only screen and (max-width: 1600px){
    .hiredevsec{
        padding-block: 60px;
    }
    .hdtilte{
        font-size: 40px;
    }
    .tablehireheading{
        height: 80px;
    }
    .singleboxhiretable:nth-child(2) .tablehireheading{
        font-size: 20px;
    }
    .mainboxhiretable ul li{
        height: 80px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 1199px){
    .tablehireheading{
        height: 70px;
        font-size: 16px;
    }
    .singleboxhiretable:nth-child(2) .tablehireheading{
        font-size: 18px;
    }
    .mainboxhiretable ul li{
        height: 72px;
        font-size: 14px;
    }
}
@media only screen and (max-width: 991px){
    .hiredevsec {
        padding-block: 50px;
    }
    .hdtilte{
        font-size: 36px;
    }
    .mainboxhiretableResponsive{
        overflow: auto hidden;
    }
    .mainboxhiretable{
        width: 1000px;
    }
}
@media only screen and (max-width: 767px){
    .hiredevsec {
        padding-block: 40px;
    }
    .hdtilte{
        font-size: 32px;
    }
    .mainboxhiretable{
        width: 840px;
    }
    .tablehireheading {
        height: 56px;
        font-size: 15px;
    }
    .singleboxhiretable:nth-child(2) .tablehireheading{
        font-size: 16px;
    }
    .mainboxhiretable ul li {
        height: 60px;
        font-size: 13px;
    }
}
@media only screen and (max-width: 575px){
    .hdtilte{
        font-size: 28px;
    }
}
@media only screen and (max-width: 479px){
    .hdtilte{
        font-size: 24px;
    }
}