.hiredevsec {
    padding: 70px 0;
}
.mainboxhiretable {
    display: flex;
    border: 1px solid #f9f9f9;
}
.singleboxhiretable {
    width: 25%;
    text-align: center;
}
.singleboxhiretable:nth-child(2) {
    box-shadow: 0 0 16px 8px #00000012;
    z-index: 2;
}
.mainboxhiretable ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.mainboxhiretable ul li {
    list-style: none;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 25px;
    color: var(--black-color);
    padding: 6px 10px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.mainboxhiretable ul li:nth-child(odd) {
    background: #F3F7FA;
}
.tablelist {
    margin: 0;
    padding: 0;
}
.tablehireheading {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: var(--black-color);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top: 28px;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.tablehireheading:hover{
    background: var(--primary-background);
}
.singleboxhiretable:nth-child(2) .tablehireheading {
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 22px;
    line-height: 30px;
    padding: 0;
}
.hdtilte {
    text-align: center;
    font-size: 45px;
    line-height: 54px;
    color: var(--black-color);
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 50px;
}
.hdtilte strong {
    display: block;
    font-size: 60px;
    color: #282828;
    line-height: 70px;
    font-weight: 600;
}