.clients{
    position: relative;
    z-index: 2;
}
.boxwrapper{
    background: var(--white-color);
    border-radius: 16px;
    margin: -80px auto 0;
    padding: 30px;
    box-shadow: 0 4px 4px rgba(96, 96, 96, 0.4);
}
.sliderItem{
    width: 180px;
}
.box{
    position: relative;
    height: 102px;
}
.box img{
    object-fit: contain;
}