.tabList ul{
    --round: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: max-content;
    margin: 0 auto 80px;
    background: #f5f5f5;
    color: rgb(64, 64, 64);
    font-weight: 600;
    font-size: 16px;
    border-radius: var(--round);
    padding: 8px;
}
.tabItem{
    min-width: 200px;
    padding: 14px 24px;
    border-radius: var(--round);
    text-align: center;
    cursor: pointer;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.tabItem.active{
    background: var(--primary-color);
    color: var(--white-color);
}
/* Card */
.cardBox{
    --round: 16px;
    display: grid;
    grid-template-columns: repeat(1, 5fr 6fr);
    box-shadow: 0px 4px 8px 0px #53535340;
    background: var(--white-color);
    color: var(--body-color);
    border-radius: var(--round);
}
.thumbnail{
    padding: 16px;
    background: #CEE5FF;
    border-radius: var(--round);
}
.thumbnail figure{
    height: 330px;
    border-radius: var(--round);
}
.thumbnailPoster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: all 5s ease;
}
.thumbnailPoster:hover img{
    object-position: bottom;
}
.cardData{
    padding: 12px 16px 12px 20px;
    align-self: center;
}
.subtitle{
    font: 600 24px / 1.2 var(--primary-font);
    margin-bottom: 12px;
    color: #303030;
}
.cardData ul{
    display: grid;
    row-gap: 10px;
}
.cardData ul li{
    display: flex;
    align-items: start;
    gap: 2px;
}
.cardData ul li::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
    --size: 18px;
    width: var(--size);
    height: var(--size);
    background: url('../images/check.svg') no-repeat center / contain;
    margin-top: 2px;
    color: #1F58CB;
}
.projectName{
    font: 600 1.1em / 1.3 var(--primary-font);
    margin-top: 16px;
    color: rgba(36, 36, 36, 1);
}
.projectName svg{
    margin-right: 8px;
}
.skeletonTitle{
    width: 80%;
    height: 24px;
}
.skeletonButton{
    display: flex;
    gap: 8px;
    --size: 24px;
    margin-top: 24px;
}
.skeletonButton span{
    width: var(--size);
    height: var(--size);
    flex-shrink: 0;
}
@media only screen and (max-width: 1600px) {
    .cardBox{
        --round: 10px
    }
    .thumbnail figure{
        height: 250px;
    }
    .subtitle{
        font-size: 22px;
    }
}