.brands ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.brands li{
    display: grid;
    align-content: center;
    text-align: center;
    background: #fffff3;
    color: var(--primary-title-color);
    font-size: 1.1em;
    font-weight: 500;
    gap: 10px;
    padding: 16px;
}
.brands li:nth-child(odd){
    background: #e1e7f3;
}

.brandLogo {
    --size: 80px;
    width: var(--size);
    height: var(--size);
    display: grid;
    place-items: center;
    margin: auto;
    position: relative;
}
.brandLogo img{
    object-fit: contain;
    mix-blend-mode: multiply;
}
/* Call to Action Start */
.callToAction{
    --extraSpace: 90px;
    padding-top: var(--extraSpace);
    /* background: #f8fafc; */
}
.innerSection{
    background: var(--primary-background);
}
.ctaContent{
    padding-block: 85px;
}
.smallTitle{
    font-size: 1.4em;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}
.smallTitle::after{
    content: '';
    display: block;
    background: currentColor;
    width: 128px;
    height: 1px;
    margin-top: 4px;
}
.actionTitle{
    text-transform: capitalize;
    font-size: 45px;
    font-weight: 400;
    color: var(--black-color);
}
.actionTitle span{
    display: block;
    font-weight: 600;
}
.poster{
    position: relative;
    padding-top: 70%;
    margin-top: calc(-.9 * var(--extraSpace));
    width: 54vw;
}
.poster img{
    mix-blend-mode: multiply;
}

@media only screen and (max-width: 1600px){
    .smallTitle{
        font-size: 1.2em;
    }
    .actionTitle{
        font-size: 36px;
    }
    .ctaContent{
        padding-block: 50px;
    }
    .poster{
        padding-top: 66%;
    }
    .callToAction {
        --extraSpace: 60px;
    }
}
@media only screen and (max-width: 1399px){
    .actionTitle{
        font-size: 30px;
    }
    .smallTitle{
        margin-bottom: 12px;
    }
    .ctaContent{
        padding-block: 32px;
    }
}
@media only screen and (max-width: 1199px){
    .brands li{
        font-size: 1em;
    }
    .brandLogo {
        --size: 60px;
    }
}
@media only screen and (max-width: 991px){
    .brands ul {
        grid-template-columns: repeat(3,1fr);
    }
    .callToAction{
        --extraSpace: 40px;
        position: relative;
        overflow: hidden;
    }
    .poster {
        width: 48vw;
        padding-top: 0;
        margin: 0;
        aspect-ratio: 4/3;
    }
    .actionTitle{
        font-size: 26px;
    }
    .smallTitle {
        margin-bottom: 12px;
        font-size: 1.1em;
    }
    .smallTitle::after{
        width: 100px;
    }
}
@media only screen and (max-width: 767px){
    .poster {
        position: absolute;
        transform: scaleX(-1);
        right: 0;
        bottom: 0;
        opacity: .35;
    }
    .ctaContent{
        padding-block: 36px;
    }
    .actionTitle span{
        display: initial;
    }
    .processBox p {
        max-height: 3lh;
        overflow: hidden auto;
        padding-right: 10px;
        margin-right: -10px;
    }

}
@media only screen and (max-width: 479px){
    .brands li{
        font-size: .85em;
        gap: 4px;
        padding: 10px;
    }
    .brandLogo {
        --size: 48px;
    }
}