.TestimonialContainer{
   background-color: #1F58CB;
   padding: 90px 0px 70px;
   position: relative;
   z-index: 1;
}
.TestimonialContainer::before{
   content: '';
   background: url(../../public/assets/images/abstract-bg.png) no-repeat left center / cover;
   position: absolute;
   inset: 0;
   z-index: 1;
   mix-blend-mode: multiply;
   opacity: 0.35;
   width: 830px;
   height: 100%;
}
.videoSection{
   position: relative;
   padding: 30px 0 0 30px;
}
.videoWrapper {
   padding: 0 0;
   display: flex;
   justify-content: center;
}
.videoContainer {
   position: relative;
   width: 100%;
   max-width: 800px;
   aspect-ratio: 16 / 12;
   cursor: pointer;
   overflow: hidden;
   border-radius: 10px;
}
.video {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
}
.poster {
   object-fit: cover;
   z-index: 1;
}
.playButton {
   position: absolute;
   z-index: 2;
   bottom: 0;
   right: 0;
   transform: translate(-50%, -50%);
   font-size: 30px;
   background: #fff;
   color: #000;
   border: none;
   border-radius: 50%;
   width: 66px;
   height: 66px;
   cursor: pointer;
}
.videoGraphi{
   position: absolute;  
   width: 178px;
   height: 178px;
   background-color: #71A0FF;
   border-radius: 10px;
   top: 0px;
   left: 0px;
}
.feedBackText {
   padding: 30px 0 0 40px;
}
.feedBackText h4{
   font-size: 25px;
   line-height: 30px;
   font-weight: 300;
   color: var(--white-color);
   padding: 0 0 23px 0;
   border-bottom: 1px solid #3E79EF;
   margin: 0;
}
.feedBackText p{
   font-size: 27px;
   line-height: 40px;
   color: var(--white-color);
   padding: 48px 0;
   font-weight: 400;
   margin: 0;
}
.feedBackText h6{
   font-size: 22px;
   line-height: 25px;
   font-weight: 300;
   color: var(--white-color);
   padding: 0 0 23px 0;
   margin: 0;
}
.feedBackText .myCustomers{
   font-size: 20px;
   line-height: 30px;
   font-weight: 300;
   color: var(--white-color);
   padding: 15px 0 0 0;
   border-top: 1px solid #3E79EF;
   margin: 30px 0 0 0;
   text-align: right;
}

@media only screen and (max-width: 1600px) {
}