.container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 32px;
    max-width: 1000px;
    background: #fff;
}

/* LEFT */
.left h2 {
    font-size: 20px;
    margin-bottom: 16px;
}

.calendar {
    --rdp-accent-color: #7a899e;
    --rdp-accent-background-color: #799cc9;
    width: 100%;
    max-width: 500px;
}

.calendar .rdp {
    width: 100%;
}

/* Month wrapper */
.calendar .rdp-month {
    width: 100%;
}

/* Table */
.calendar .rdp-table {
    width: 100%;
    table-layout: fixed;
}

/* Header + cells */
.calendar th,
.calendar td {
    width: 14.285%;
    /* 100 / 7 */
    text-align: center;
}

/* Day buttons */
.calendar .rdp-day {
    width: 100%;
    height: 44px;
    margin: auto;
}

/* Caption */
.calendar .rdp-caption {
    width: 100%;
    justify-content: center;
}

:global(.rdp-day) {
    border-radius: 50%;
    font-weight: 600;
}

:global(.rdp-day_selected) {
    background: #1a73e8;
    color: #fff;
}

:global(.rdp-day_today) {
    border: 2px solid #1a73e8;
}

:global(.rdp-day_disabled) {
    opacity: 0.3;
}

/* TIMEZONE */
.timezone {
    margin-top: 12px;
    font-size: 14px;
    color: #555;
}

/* RIGHT */
.right h3 {
    margin-bottom: 16px;
    font-size: 18px;
}

.slotList {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-height: 600px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0px 10px;
}

.slot {
    padding: 10px;
    border: 1px solid #1a73e8;
    border-radius: 8px;
    background: #fff;
    color: #1a73e8;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}

.slot:hover {
    background: #e8f0fe;
}

.slot.active {
    background: rgb(0 0 0 / 60%);
    border: rgb(0 0 0 / 60%);
    color: #fff;
}

.noSlots {
    color: #777;
    font-size: 14px;
}

/* MOBILE */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}